/* Fades-in wrapped content with optional delay index. */

.fade-in {
	--delay: 0;
	display: inline-block;
	@media not (prefers-reduced-motion) {
		animation:
		fade-in
		var(--x-slow-time)
		calc(var(--normal-time) * var(--delay) + var(--x-fast-time))
		both;
	}
}

@keyframes fade-in {
	from {
		color: var(--secondary-500-300);
		scale: var(--scale-in);
		filter: var(--2x-light-blur) var(--3x-heavy-shadow);
		opacity: 0;
	}
}