/* Represents a block of code. */

.CodeBlock {
	display: block;
	width: fit-content;
	max-width: min(100%, var(--medium-container));
	tab-size: 4;
	hyphens: none;
	font-size: var(--small-font);
	font-family: var(--mono-font);
	border-radius: var(--3x-small-size);
	border-block-end: var(--3x-small-size) var(--border-style) var(--primary-400-600);
	background-clip: border-box;
	background-color: var(--primary-600-800);
	color: var(--secondary-200-400);
	padding-block: var(--x-small-size);
	padding-inline-start: var(--x-small-size);
	padding-inline-end: var(--medium-size);
	margin-block: var(--x-small-size) var(--2x-small-size);
	overflow-inline: auto;
	filter: var(--medium-shadow);
	cursor: text;
}