/* Divider with title. */

.Divider.title {
	display: block;
	font-family: var(--display-font);
	font-size: var(--x-large-font);
	font-weight: var(--regular-font);
	line-height: var(--line-short);
	color: var(--secondary-600-300);
	margin-block-start: var(--medium-size);
	margin-block-end: 0;
	margin-inline: 0;
}

.Divider.line {
	display: block;
	height: 2px;
	border: none;
	border-radius: var(--3x-small-size);
	background-color: var(--primary-200-600);
	margin-block-start: var(--2x-small-size);
	margin-block-end: var(--small-size);
}