.Nav {
	display: block;
	color: var(--medium-contrast-color);

	.control {
		display: block;
		font-size: var(--x-large);
		padding: var(--2x-small);
		line-height: 0;
		cursor: pointer;
		float: right;
	}

	.links {
		position: fixed;
		z-index: var(--z-fixed);
		inset: auto 0 0 50%;
		transform: translateX(-50%);
		inline-size: min(100%, var(--medium-container));
		max-block-size: min(90vb, var(--larger-container));
		background-color: var(--background-color);
		box-shadow: var(--lighter-box-shadow);
		outline: 1px var(--border-style) var(--foreground-color);
		font-family: var(--display-family);
		padding-block-end: var(--medium);
		overflow: auto;
		transition: all var(--fast-time) var(--ease-out);
		.control:not(:focus) + &:not(:focus-within) {
			transform: translate(-50%, var(--large));
			visibility: hidden;
			opacity: 0;
		}
	}

	.backdrop {
		position: fixed;
		z-index: calc(var(--z-fixed) - 1);
		inset: 0;
		transition: opacity var(--normal-time) var(--ease-out);
		backdrop-filter: var(--lightest-blur) var(--low-brightness);
		pointer-events: none;
		opacity: 0;
		.control:focus ~ &, .links:focus-within + & {
			pointer-events: auto;
			opacity: 1;
		}
	}

	a[href] {
		display: block;
		border-block-end: 1px var(--border-style) var(--middleground-color);
		font-size: var(--small);
		text-decoration: none;
		color: inherit;
		padding-inline: var(--medium);
		padding-block: var(--x-small);
		outline-offset: -4px;
		@media (pointer: fine) {
			padding-inline: var(--small);
			padding-block: var(--2x-small);
		}
		&:last-child {
			border-block-end: none;
		}
		&:not(:hover) {
			transition: background-color var(--fast-time) var(--ease-in-out);
		}
		&:hover, &:focus {
			background-color: var(--middleground-color);
		}
		&:active {
			background-color: var(--accent-50);
			color: var(--accent-400);
			@media (--dark) {
				background-color: var(--accent-900);
			}
		}
	}
}