.Nav {
	display: block;
	block-size: 0;
	color: var(--medium-contrast-color);

	&, .links {
		float: right;
	}

	.control {
		position: relative;
		z-index: var(--z-relative);
		display: block;
		font-size: var(--x-large);
		border: 1px var(--border-style) var(--foreground-color);
		border-radius: var(--largest-radius);
		background-color: var(--background-color);
		padding: var(--x-small);
		line-height: 0;
		box-shadow: var(--lightest-box-shadow);
		transition: all var(--fast-time) var(--ease-in-out);
		cursor: pointer;
		&:focus, &:has(+ .links:focus-within) {
			border-color: var(--gray-300);
			background-color: var(--middleground-color);
			box-shadow: var(--lightest-inset-shadow), var(--lightest-box-shadow);
			@media (--dark) {
				border-color: var(--gray-700);
			}
		}
	}

	.links {
		position: relative;
		z-index: var(--z-absolute);
		inline-size: min(80vw, var(--small-container));
		border-radius: var(--smaller-radius);
		background-color: var(--background-color);
		box-shadow: var(--lighter-box-shadow);
		outline: 1px var(--border-style) var(--foreground-color);
		font-family: var(--display-family);
		padding-block-end: var(--x-small);
		margin-inline-start: calc(-1 * var(--small-container));
		margin-block-start: var(--x-small);
		overflow: hidden;
		transform-origin: top right;
		transition: all var(--fast-time) var(--ease-out);
		.control:not(:focus) + &:not(:focus-within) {
			filter: var(--lighter-blur);
			transform: translateY(calc(-1 * var(--x-small))) var(--small-scale-x) var(--smaller-scale-y);
			visibility: hidden;
			opacity: 0;
		}
	}

	.backdrop {
		position: fixed;
		z-index: calc(var(--z-absolute) - 1);
		inset: 0;
		transition: opacity var(--normal-time) var(--ease-out);
		pointer-events: none;
		opacity: 0;
		.control:focus ~ &, .links:focus-within + & {
			pointer-events: auto;
			opacity: 1;
		}
	}

	a[href] {
		display: block;
		border-block-end: 1px var(--border-style) var(--middleground-color);
		font-size: var(--small);
		text-decoration: none;
		color: inherit;
		padding-inline: var(--medium);
		padding-block: var(--x-small);
		outline-offset: -4px;
		@media (pointer: fine) {
			padding-inline: var(--small);
			padding-block: var(--2x-small);
		}
		&:last-child {
			border-block-end: none;
		}
		&:not(:hover) {
			transition: background-color var(--fast-time) var(--ease-in-out);
		}
		&:hover, &:focus {
			background-color: var(--middleground-color);
		}
		&:active {
			background-color: var(--accent-50);
			color: var(--accent-400);
			@media (--dark) {
				background-color: var(--accent-900);
			}
		}
	}
}