/* Showcase link with title. */

.ShowcaseLink.container {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	gap: 0 var(--2x-small-size);
	font-size: var(--large-font);
	word-break: break-word;
	line-height: var(--line-short);
	margin-block: var(--2x-small-size);
	@media (pointer: fine) {
		font-size: var(--medium-font);
		margin-block: var(--3x-small-size);
	}
	@media not (prefers-reduced-motion) {
		animation:
			scale-in 1ms linear alternate,
			scale-in 1ms linear alternate-reverse;
		animation-timeline: view();
		animation-range: entry, exit;
	}
}

.ShowcaseLink.title {
	display: block;
	font-weight: var(--normal-font);
	margin: 0;
}