.title {
	display: block;
	text-align: center;
	font-family: var(--display-font);
	font-size: var(--7x-large-font);
	font-weight: var(--heavy-font);
	line-height: var(--display-line-height);
	span {
		display: inline-block;
		white-space: pre;
		@media not (prefers-reduced-motion) {
			animation:
			headline-fade-in
			var(--slow-time)
			calc(var(--swift-time) * var(--char, 0))
			both;
		}
	}
}

@keyframes title-fade-in {
	from {
		color: var(--accent-500-300);
		color: oklch(from var(--accent-500-300) l c calc(h + 30 * var(--char, 1)));
		scale: var(--x-scale-in);
		filter: var(--3x-light-blur) var(--3x-heavy-shadow);
		opacity: 0;
	}
}