.Header.container {
	display: block;
	padding-inline-start: max(var(--small-size), var(--responsive-size), var(--safe-left));
	padding-inline-end: max(var(--small-size), var(--responsive-size), var(--safe-right));
	margin-block-start: max(var(--x-large-size), var(--safe-top));
	margin-block-end: max(var(--x-small-size), var(--safe-bottom));
}

.Header.brand {
	display: block;
	line-height: var(--line-short);
	margin-block: var(--x-small-size);
}

.Header.title {
	display: inline-block;
	font-family: var(--display-font);
	font-weight: var(--bold-font);
	font-size: var(--8x-large-font);
	margin-block: var(--3x-small-size);
	margin-inline: -0.25rem;
}

.Header.motto {
	display: block;
	font-size: var(--2x-large-font);
	font-weight: var(--light-font);
	color: var(--secondary-600-300);
	margin: 0;
	@media not (prefers-reduced-motion) {
		animation: header-motto var(--x-slow-time);
	}
}

@keyframes header-motto {
	from {
		transform: translateY(var(--3x-small-size));
		opacity: 0;
	}
}

.Header.info {
	display: inline-block;
	font-size: var(--x-small-font);
	line-height: var(--line-tall);
	color: var(--secondary-500-400);
	@media not (prefers-reduced-motion) {
		animation: header-info var(--normal-time) var(--slow-time) both;
	}
}

@keyframes header-info {
	from {
		opacity: 0;
	}
}

.Header.navigation {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-end;
	align-items: center;
	font-size: var(--medium-font);
	gap: var(--3x-small-size) var(--small-size);
	transform-origin: right;
	@media not (prefers-reduced-motion) {
		animation: header-navigation var(--x-slow-time);
	}
	a[href] {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: var(--2x-small-size);
		color: var(--accent-600-300);
		&:not(:hover, :focus, :active) {
			color: var(--secondary-600-300);
			text-decoration: none;
		}
		&:active {
			color: var(--accent-700-400);
		}
	}
	[class~="bi"] {
		font-size: var(--2x-large-font);
	}
}

@keyframes header-navigation {
	from {
		scale: var(--scale-out);
		opacity: 0;
	}
}