.Main.container {
	display: block;
	padding-inline-start: max(var(--small-size), var(--responsive-size), var(--safe-left));
	padding-inline-end: max(var(--small-size), var(--responsive-size), var(--safe-right));
	margin-block: var(--x-small-size);
	transform-origin: top left;
	@media not (prefers-reduced-motion) {
		animation: main-container var(--normal-time);
	}
}

@keyframes main-container {
	from {
		scale: var(--scale-out);
		opacity: 0;
	}
}