/* Semantic Props for the accent color. */

@import "blue.css";

:where(.semantic) {
	--lightest-accent: var(--lightest-blue);
	--lighter-accent: var(--lighter-blue);
	--light-accent: var(--light-blue);

	--dark-accent: var(--dark-blue);
	--darker-accent: var(--darker-blue);
	--darkest-accent: var(--darkest-blue);

	--primary-accent: var(--is-light, var(--dark-accent)) var(--is-dark, var(--light-accent));
	--secondary-accent: var(--is-light, var(--darker-accent)) var(--is-dark, var(--lighter-accent));
	--tertiary-accent: var(--is-light, var(--darkest-accent)) var(--is-dark, var(--lightest-accent));
}