@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "sanitize.css";
@import "semantic-props";

@custom-media --watch (max-width: 20rem);
@custom-media --phone (min-width: 20rem);
@custom-media --tablet (min-width: 40rem);
@custom-media --laptop (min-width: 64rem);
@custom-media --desktop (min-width: 80rem);

@custom-media --light (prefers-color-scheme: light);
@custom-media --dark (prefers-color-scheme: dark);

:root {
	--display-family: "Ubuntu", sans-serif;
	--body-family: "Open Sans", sans-serif;
	--mono-family: "IBM Plex Mono", monospace;
}