@import "sanitize.css";
@import "semantic-props";
@import "@fontsource-variable/ubuntu-sans";
@import '@fontsource-variable/open-sans';
@import "@fontsource/ibm-plex-mono";

@custom-media --small-viewport (min-width: 20rem);
@custom-media --medium-viewport (min-width: 48rem);
@custom-media --large-viewport (min-width: 80rem);

@property --background-color {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --middleground-color {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

@property --foreground-color {
	syntax: "<color>";
	inherits: true;
	initial-value: transparent;
}

:root {
	--display-family: "Ubuntu Sans Variable", sans-serif;
	--body-family: "Open Sans Variable", sans-serif;
	--mono-family: "IBM Plex Mono", monospace;

	@media (prefers-color-scheme: light) {
		--theme: light;
	}

	@media (prefers-color-scheme: dark) {
		--theme: dark;
	}
}

body {
	transition-property: --background-color, --middleground-color, --foreground-color;
	transition-duration: var(--fast-time);
	transition-timing-function: var(--ease-out);

	@container style(--theme: light) {
		--background-color: var(--white);
		--middleground-color: var(--gray-100);
		--foreground-color: var(--gray-200);

		--low-contrast-color: var(--gray-500);
		--medium-contrast-color: var(--gray-700);
		--high-contrast-color: var(--black);
	}

	@container style(--theme: dark) {
		--background-color: var(--black);
		--middleground-color: var(--gray-900);
		--foreground-color: var(--gray-800);

		--low-contrast-color: var(--gray-500);
		--medium-contrast-color: var(--gray-300);
		--high-contrast-color: var(--white);
	}
}