/* Styles for the entire application. */

@import "bootstrap-icons/font/bootstrap-icons.css";
@import "sanitize.css";
@import "semantic-props";

::selection {
	background-color: var(--accent-200-500);
	background-color: oklch(from var(--accent-200-500) l c h / var(--x-low-opacity));
	color: var(--secondary-800-100);
}

.App.container {
	display: block;
	font-family: var(--body-font);
	font-size: var(--medium-font);
	font-weight: var(--regular-font);
	line-height: var(--line-normal);
	letter-spacing: var(--letter-normal);
	word-spacing: var(--word-normal);
	background-color: var(--primary-50-800);
	background-image:
		repeating-linear-gradient(135deg, var(--primary-100-900) 0px, var(--primary-50-800) 10px),
		repeating-linear-gradient(22.5deg, var(--primary-100-900) 0px, var(--primary-50-800) 10px);
	background-size: 100% 100%;
	color: var(--secondary-800-100);
	transition-property: background-color, color;
	transition-duration: var(--normal-time);
	transition-timing-function: var(--ease-out);
	--accent-color: var(--green);
	@supports (color: light-dark(white, black)) {
		color-scheme: light dark;
		--accent-color: light-dark(var(--green), var(--pink));
	}
}

.App.wrapper {
	display: flex;
	flex-flow: column nowrap;
	justify-content: start;
	align-items: stretch;
	gap: var(--medium-size) var(--large-size);
	min-height: min(100vh, 100dvh);
	max-width: var(--x-large-container);
	padding-inline-start: max(var(--responsive-size), var(--safe-left) + var(--medium-size));
	padding-inline-end: max(var(--responsive-size), var(--safe-right) + var(--medium-size));
	padding-block-start: calc(var(--safe-top) + var(--large-size));
	padding-block-end: calc(var(--safe-bottom) + var(--large-size));
	margin-inline: auto;
}

.App.content {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: start;
	align-items: start;
	gap: inherit;
}

.App:is(.main, .aside) {
	display: block;
	width: min(100%, var(--small-container));
	container: App / inline-size;
	flex: 1 1 auto;
}

.App.aside {
	flex-grow: 9999;
}

.App.footer {
	display: block;
	width: 100%;
	text-align: end;
	color: var(--secondary-500-400);
	margin-block-start: auto;
}