/* Semantic Props for the (dominant) background color. */

@import "is.css";

:where(.semantic) {
	--lightest-background: oklch(1.0 0.01 260);
	--lighter-background: oklch(0.9 0.01 260);
	--light-background: oklch(0.8 0.01 260);

	--dark-background: oklch(0.4 0.01 260);
	--darker-background: oklch(0.3 0.01 260);
	--darkest-background: oklch(0.2 0.01 260);

	--primary-background: var(--is-light, var(--lightest-background)) var(--is-dark, var(--darkest-background));
	--secondary-background: var(--is-light, var(--lighter-background)) var(--is-dark, var(--darker-background));
	--tertiary-background: var(--is-light, var(--light-background)) var(--is-dark, var(--dark-background));
}