/* Semantic Props for CSS blur filter value. */

:where(.semantic) {
	--3x-light-blur: blur(1px);
	--2x-light-blur: blur(2px);
	--x-light-blur: blur(4px);
	--light-blur: blur(6px);
	--medium-blur: blur(8px);
	--heavy-blur: blur(16px);
	--x-heavy-blur: blur(24px);
	--2x-heavy-blur: blur(32px);
	--3x-heavy-blur: blur(48px);
}