/* Semantic Props for the body (background) color. */

@import "is.css";

:where(.semantic) {
	--lightest-body: oklch(0.98 0.01 260);
	--lighter-body: oklch(0.9 0.01 260);
	--light-body: oklch(0.8 0.01 260);

	--dark-body: oklch(0.4 0.01 260);
	--darker-body: oklch(0.3 0.01 260);
	--darkest-body: oklch(0.2 0.01 260);

	--primary-body: var(--is-light, var(--lightest-body)) var(--is-dark, var(--darkest-body));
	--secondary-body: var(--is-light, var(--lighter-body)) var(--is-dark, var(--darker-body));
	--tertiary-body: var(--is-light, var(--light-body)) var(--is-dark, var(--dark-body));
}