/* Semantic Props boolean values for @container style queries. */

@each $token in (dark, high-contrast, watch, phone, tablet, laptop, desktop) {
	@property --$(token) {
		syntax: "true | false";
		initial-value: false;
		inherits: true;
	}
}

.semantic {
	/* Color Scheme Booleans: */
	--dark: false;

	@media (prefers-color-scheme: dark) {
		--dark: true;
	}

	/* Color Contrast Booleans: */
	--high-contrast: false;

	@media (prefers-contrast: more) {
		--high-contrast: true;
	}

	/* Breakpoint Booleans: */
	--watch: false;
	--phone: false;
	--tablet: false;
	--laptop: false;
	--desktop: false;

	@media (max-width: 20rem) {
		--watch: true;
	}

	@media (min-width: 20rem) {
		--phone: true;
	}

	@media (min-width: 40rem) {
		--tablet: true;
	}

	@media (min-width: 64rem) {
		--laptop: true;
	}

	@media (min-width: 80rem) {
		--desktop: true;
	}
}