////
/// Semantic Props used for layout breakpoints.
/// @group breakpoints
/// @since 0.3.0
////

@use "sass:map" as map;

/// Mapped Semantic Props breakpoints to lengths.
/// @type map
$breakpoints: (
	xxs: 180px,
	xs: 240px,
	sm: 360px,
	md: 480px,
	lg: 768px,
	xl: 1024px,
	xxl: 1440px,
	xxxl: 1600px
) !default;

/// Gets Semantic Props breakpoint length value.
/// @see $breakpoints
/// @parameter {string} $prop Name of breakpoint prop.
/// @returns {number} Value of breakpoint prop.
@function breakpoint($prop) {
	@return map.get($breakpoints, $prop);
}

/// Nests CSS within breakpoint container query.
/// @see $breakpoints
/// @requires breakpoint
/// @parameter {string} $prop Name of breakpoint prop.
/// @content CSS to nest within query.
/// @outputs CSS nested in breakpoint container query.
@mixin breakpoint($prop) {
	@container (min-inline-size: #{breakpoint($prop)}) {
		@content;
	}
}