/* Breakpoint: Custom property breakpoint widths. */

:root, semantic-props {
	/* Breakpoint Widths: */
	--2xs-breakpoint: 180px;
	--xs-breakpoint: 240px;
	--sm-breakpoint: 360px;
	--md-breakpoint: 480px;
	--lg-breakpoint: 768px;
	--xl-breakpoint: 1024px;
	--2xl-breakpoint: 1440px;
	--3xl-breakpoint: 1600px;
}

/* Needed for JavaScript add-on to function! */
semantic-props {
	display: block;
}