/* Semantic Props for breakpoint style-query and scripted classes. */

:root {
	--watch: true;
	--phone: false;
	--tablet: false;
	--laptop: false;
	--desktop: false;

	@media (min-width: 20rem) {
		--phone: true;
	}

	@media (min-width: 40rem) {
		--tablet: true;
	}

	@media (min-width: 64rem) {
		--laptop: true;
	}

	@media (min-width: 80rem) {
		--desktop: true;
	}
}