/* Semantic Props for CSS brightness filter value. */

:where(.semantic) {
	--3x-low-brightness: brightness(0.1);
	--2x-low-brightness: brightness(0.25);
	--x-low-brightness: brightness(0.5);
	--low-brightness: brightness(0.75);
	--high-brightness: brightness(1.25);
	--x-high-brightness: brightness(1.5);
	--2x-high-brightness: brightness(1.75);
	--3x-high-brightness: brightness(2);
}