/* Semantic Props for the color brown. */

.semantic {
	--brown-0: oklch(0.98 0.05 50);
	--brown-1: oklch(0.9 0.05 50);
	--brown-2: oklch(0.8 0.05 50);
	--brown-3: oklch(0.7 0.05 50);
	--brown-4: oklch(0.6 0.05 50);
	--brown-5: oklch(0.5 0.05 50);
	--brown-6: oklch(0.4 0.05 50);
	--brown-7: oklch(0.3 0.05 50);
	--brown-8: oklch(0.2 0.05 50);
	--brown-9: oklch(0.1 0.05 50);
}