/* Semantic Props for the color brown. */

@import "is.css";

:where(.semantic) {
	--brown-1: var(--is-light, oklch(0.5 0.05 50)) var(--is-dark, oklch(0.7 0.05 50));
	--brown-2: var(--is-light, oklch(0.4 0.05 50)) var(--is-dark, oklch(0.8 0.05 50));
	--brown-3: var(--is-light, oklch(0.3 0.05 50)) var(--is-dark, oklch(0.9 0.05 50));
	@media (prefers-contrast: more) {
		--brown-1: var(--is-light, oklch(0.45 0.05 50)) var(--is-dark, oklch(0.75 0.05 50));
	}
}