/* Semantic Props for colors. Follows the 60-30-10 color theory rule. */

@use "sass:color" as color;
@use "sass:map" as map;

$weights: 50 100 200 300 400 500 600 700 800 900;

$props: (
	--primary: #f5f9ff,
	--secondary: #020306,
	--accent: #006aab
);

:where(.semantic) {
	/* Weighted Colors: */
	@each $prop, $color in $props {
		@each $l in $weights {
			#{$prop}-#{$l}: color.change($color, $lightness: calc(1 - ($l / 1000)), $space: oklch);
		}
	}

	/* Light-Dark Colors: */
	@each $scheme in light dark {
		@media (prefers-color-scheme: $scheme) {
			@each $prop in map.keys($props) {
				@each $l in $weights {
					@each $d in $weights {
						@if $d != $l {
							@if $scheme == light {
								#{$prop}-#{$l}-#{$d}: var(#{$prop}-#{$l});
							}
							@if $scheme == dark {
								#{$prop}-#{$l}-#{$d}: var(#{$prop}-#{$d});
							}
						}
					}
				}
			}
		}
	}
}