/* Semantic Props for color. */

@import "boolean.css";

:where(.semantic) {
	/* Light/Dark Booleans: */
	&:where(:not(& &), .light.dark) {
		--is-light: var(--true);
		--is-dark: var(--false);
		@media (prefers-color-scheme: dark) {
			--is-light: var(--false);
			--is-dark: var(--true);
		}
	}

	&:where(.light:not(.dark)) {
		--is-light: var(--true);
		--is-dark: var(--false);
	}

	&:where(.dark:not(.light)) {
		--is-light: var(--false);
		--is-dark: var(--true);
	}

	/* Accent Color: */
	--lightest-accent: var(--lightest-blue);
	--lighter-accent: var(--lighter-blue);
	--light-accent: var(--light-blue);

	--dark-accent: var(--dark-blue);
	--darker-accent: var(--darker-blue);
	--darkest-accent: var(--darkest-blue);

	--primary-accent: var(--is-light, var(--lightest-accent)) var(--is-dark, var(--darkest-accent));
	--secondary-accent: var(--is-light, var(--lighter-accent)) var(--is-dark, var(--darker-accent));
	--tertiary-accent: var(--is-light, var(--light-accent)) var(--is-dark, var(--dark-accent));

	--contrast-primary-accent: var(--is-light, var(--dark-accent)) var(--is-dark, var(--light-accent));
	--contrast-secondary-accent: var(--is-light, var(--darker-accent)) var(--is-dark, var(--lighter-accent));
	--contrast-tertiary-accent: var(--is-light, var(--darkest-accent)) var(--is-dark, var(--lightest-accent));

	/* Blue */
	--lightest-blue: oklch(0.9 0.15 240);
	--lighter-blue: oklch(0.85 0.15 240);
	--light-blue: oklch(0.8 0.15 240);

	--dark-blue: oklch(0.4 0.15 240);
	--darker-blue: oklch(0.35 0.15 240);
	--darkest-blue: oklch(0.3 0.15 240);

	--primary-blue: var(--is-light, var(--lightest-blue)) var(--is-dark, var(--darkest-blue));
	--secondary-blue: var(--is-light, var(--lighter-blue)) var(--is-dark, var(--darker-blue));
	--tertiary-blue: var(--is-light, var(--light-blue)) var(--is-dark, var(--dark-blue));

	--contrast-primary-blue: var(--is-light, var(--dark-blue)) var(--is-dark, var(--light-blue));
	--contrast-secondary-blue: var(--is-light, var(--darker-blue)) var(--is-dark, var(--lighter-blue));
	--contrast-tertiary-blue: var(--is-light, var(--darkest-blue)) var(--is-dark, var(--lightest-blue));

	/* Brown: */
	--lightest-brown: oklch(0.9 0.05 50);
	--lighter-brown: oklch(0.85 0.05 50);
	--light-brown: oklch(0.8 0.05 50);

	--dark-brown: oklch(0.4 0.05 50);
	--darker-brown: oklch(0.35 0.05 50);
	--darkest-brown: oklch(0.3 0.05 50);

	--primary-brown: var(--is-light, var(--lightest-brown)) var(--is-dark, var(--darkest-brown));
	--secondary-brown: var(--is-light, var(--lighter-brown)) var(--is-dark, var(--darker-brown));
	--tertiary-brown: var(--is-light, var(--light-brown)) var(--is-dark, var(--dark-brown));

	--contrast-primary-brown: var(--is-light, var(--dark-brown)) var(--is-dark, var(--light-brown));
	--contrast-secondary-brown: var(--is-light, var(--darker-brown)) var(--is-dark, var(--lighter-brown));
	--contrast-tertiary-brown: var(--is-light, var(--darkest-brown)) var(--is-dark, var(--lightest-brown));

	/* Coral: */
	--lightest-coral: oklch(0.9 0.2 40);
	--lighter-coral: oklch(0.85 0.2 40);
	--light-coral: oklch(0.8 0.2 40);

	--dark-coral: oklch(0.4 0.2 40);
	--darker-coral: oklch(0.35 0.2 40);
	--darkest-coral: oklch(0.3 0.2 40);

	--primary-coral: var(--is-light, var(--lightest-coral)) var(--is-dark, var(--darkest-coral));
	--secondary-coral: var(--is-light, var(--lighter-coral)) var(--is-dark, var(--darker-coral));
	--tertiary-coral: var(--is-light, var(--light-coral)) var(--is-dark, var(--dark-coral));

	--contrast-primary-coral: var(--is-light, var(--dark-coral)) var(--is-dark, var(--light-coral));
	--contrast-secondary-coral: var(--is-light, var(--darker-coral)) var(--is-dark, var(--lighter-coral));
	--contrast-tertiary-coral: var(--is-light, var(--darkest-coral)) var(--is-dark, var(--lightest-coral));

	/* Cyan: */
	--lightest-cyan: oklch(0.9 0.15 180);
	--lighter-cyan: oklch(0.85 0.15 180);
	--light-cyan: oklch(0.8 0.15 180);

	--dark-cyan: oklch(0.4 0.15 180);
	--darker-cyan: oklch(0.35 0.15 180);
	--darkest-cyan: oklch(0.3 0.15 180);

	--primary-cyan: var(--is-light, var(--lightest-cyan)) var(--is-dark, var(--darkest-cyan));
	--secondary-cyan: var(--is-light, var(--lighter-cyan)) var(--is-dark, var(--darker-cyan));
	--tertiary-cyan: var(--is-light, var(--light-cyan)) var(--is-dark, var(--dark-cyan));

	--contrast-primary-cyan: var(--is-light, var(--dark-cyan)) var(--is-dark, var(--light-cyan));
	--contrast-secondary-cyan: var(--is-light, var(--darker-cyan)) var(--is-dark, var(--lighter-cyan));
	--contrast-tertiary-cyan: var(--is-light, var(--darkest-cyan)) var(--is-dark, var(--lightest-cyan));

	/* Gray: */
	--lightest-gray: oklch(0.9 0.01 260);
	--lighter-gray: oklch(0.85 0.01 260);
	--light-gray: oklch(0.8 0.01 260);

	--dark-gray: oklch(0.4 0.01 260);
	--darker-gray: oklch(0.35 0.01 260);
	--darkest-gray: oklch(0.3 0.01 260);

	--primary-gray: var(--is-light, var(--lightest-gray)) var(--is-dark, var(--darkest-gray));
	--secondary-gray: var(--is-light, var(--lighter-gray)) var(--is-dark, var(--darker-gray));
	--tertiary-gray: var(--is-light, var(--light-gray)) var(--is-dark, var(--dark-gray));

	--contrast-primary-gray: var(--is-light, var(--dark-gray)) var(--is-dark, var(--light-gray));
	--contrast-secondary-gray: var(--is-light, var(--darker-gray)) var(--is-dark, var(--lighter-gray));
	--contrast-tertiary-gray: var(--is-light, var(--darkest-gray)) var(--is-dark, var(--lightest-gray));

	/* Green: */
	--lightest-green: oklch(0.9 0.2 150);
	--lighter-green: oklch(0.85 0.2 150);
	--light-green: oklch(0.8 0.2 150);

	--dark-green: oklch(0.4 0.2 150);
	--darker-green: oklch(0.35 0.2 150);
	--darkest-green: oklch(0.3 0.2 150);

	--primary-green: var(--is-light, var(--lightest-green)) var(--is-dark, var(--darkest-green));
	--secondary-green: var(--is-light, var(--lighter-green)) var(--is-dark, var(--darker-green));
	--tertiary-green: var(--is-light, var(--light-green)) var(--is-dark, var(--dark-green));

	--contrast-primary-green: var(--is-light, var(--dark-green)) var(--is-dark, var(--light-green));
	--contrast-secondary-green: var(--is-light, var(--darker-green)) var(--is-dark, var(--lighter-green));
	--contrast-tertiary-green: var(--is-light, var(--darkest-green)) var(--is-dark, var(--lightest-green));

	/* Indigo: */
	--lightest-indigo: oklch(0.9 0.2 270);
	--lighter-indigo: oklch(0.85 0.2 270);
	--light-indigo: oklch(0.8 0.2 270);

	--dark-indigo: oklch(0.4 0.2 270);
	--darker-indigo: oklch(0.35 0.2 270);
	--darkest-indigo: oklch(0.3 0.2 270);

	--primary-indigo: var(--is-light, var(--lightest-indigo)) var(--is-dark, var(--darkest-indigo));
	--secondary-indigo: var(--is-light, var(--lighter-indigo)) var(--is-dark, var(--darker-indigo));
	--tertiary-indigo: var(--is-light, var(--light-indigo)) var(--is-dark, var(--dark-indigo));

	--contrast-primary-indigo: var(--is-light, var(--dark-indigo)) var(--is-dark, var(--light-indigo));
	--contrast-secondary-indigo: var(--is-light, var(--darker-indigo)) var(--is-dark, var(--lighter-indigo));
	--contrast-tertiary-indigo: var(--is-light, var(--darkest-indigo)) var(--is-dark, var(--lightest-indigo));

	/* Lime: */
	--lightest-lime: oklch(0.9 0.15 120);
	--lighter-lime: oklch(0.85 0.15 120);
	--light-lime: oklch(0.8 0.15 120);

	--dark-lime: oklch(0.4 0.15 120);
	--darker-lime: oklch(0.35 0.15 120);
	--darkest-lime: oklch(0.3 0.15 120);

	--primary-lime: var(--is-light, var(--lightest-lime)) var(--is-dark, var(--darkest-lime));
	--secondary-lime: var(--is-light, var(--lighter-lime)) var(--is-dark, var(--darker-lime));
	--tertiary-lime: var(--is-light, var(--light-lime)) var(--is-dark, var(--dark-lime));

	--contrast-primary-lime: var(--is-light, var(--dark-lime)) var(--is-dark, var(--light-lime));
	--contrast-secondary-lime: var(--is-light, var(--darker-lime)) var(--is-dark, var(--lighter-lime));
	--contrast-tertiary-lime: var(--is-light, var(--darkest-lime)) var(--is-dark, var(--lightest-lime));

	/* Magenta: */
	--lightest-magenta: oklch(0.9 0.2 330);
	--lighter-magenta: oklch(0.85 0.2 330);
	--light-magenta: oklch(0.8 0.2 330);

	--dark-magenta: oklch(0.4 0.2 330);
	--darker-magenta: oklch(0.35 0.2 330);
	--darkest-magenta: oklch(0.3 0.2 330);

	--primary-magenta: var(--is-light, var(--lightest-magenta)) var(--is-dark, var(--darkest-magenta));
	--secondary-magenta: var(--is-light, var(--lighter-magenta)) var(--is-dark, var(--darker-magenta));
	--tertiary-magenta: var(--is-light, var(--light-magenta)) var(--is-dark, var(--dark-magenta));

	--contrast-primary-magenta: var(--is-light, var(--dark-magenta)) var(--is-dark, var(--light-magenta));
	--contrast-secondary-magenta: var(--is-light, var(--darker-magenta)) var(--is-dark, var(--lighter-magenta));
	--contrast-tertiary-magenta: var(--is-light, var(--darkest-magenta)) var(--is-dark, var(--lightest-magenta));

	/* Neutral Color: */
	--lightest-neutral: oklch(1 0.01 260);
	--lighter-neutral: oklch(0.9 0.01 260);
	--light-neutral: oklch(0.8 0.01 260);

	--dark-neutral: oklch(0.3 0.01 260);
	--darker-neutral: oklch(0.2 0.01 260);
	--darkest-neutral: oklch(0.1 0.01 260);

	--primary-neutral: var(--is-light, var(--lightest-neutral)) var(--is-dark, var(--darkest-neutral));
	--secondary-neutral: var(--is-light, var(--lighter-neutral)) var(--is-dark, var(--darker-neutral));
	--tertiary-neutral: var(--is-light, var(--light-neutral)) var(--is-dark, var(--dark-neutral));

	--contrast-primary-neutral: var(--is-light, var(--dark-neutral)) var(--is-dark, var(--light-neutral));
	--contrast-secondary-neutral: var(--is-light, var(--darker-neutral)) var(--is-dark, var(--lighter-neutral));
	--contrast-tertiary-neutral: var(--is-light, var(--darkest-neutral)) var(--is-dark, var(--lightest-neutral));

	/* Orange: */
	--lightest-orange: oklch(0.9 0.15 50);
	--lighter-orange: oklch(0.85 0.15 50);
	--light-orange: oklch(0.8 0.15 50);

	--dark-orange: oklch(0.4 0.15 50);
	--darker-orange: oklch(0.35 0.15 50);
	--darkest-orange: oklch(0.3 0.15 50);

	--primary-orange: var(--is-light, var(--lightest-orange)) var(--is-dark, var(--darkest-orange));
	--secondary-orange: var(--is-light, var(--lighter-orange)) var(--is-dark, var(--darker-orange));
	--tertiary-orange: var(--is-light, var(--light-orange)) var(--is-dark, var(--dark-orange));

	--contrast-primary-orange: var(--is-light, var(--dark-orange)) var(--is-dark, var(--light-orange));
	--contrast-secondary-orange: var(--is-light, var(--darker-orange)) var(--is-dark, var(--lighter-orange));
	--contrast-tertiary-orange: var(--is-light, var(--darkest-orange)) var(--is-dark, var(--lightest-orange));

	/* Pink: */
	--lightest-pink: oklch(0.9 0.1 10);
	--lighter-pink: oklch(0.85 0.1 10);
	--light-pink: oklch(0.8 0.1 10);

	--dark-pink: oklch(0.4 0.1 10);
	--darker-pink: oklch(0.35 0.1 10);
	--darkest-pink: oklch(0.3 0.1 10);

	--primary-pink: var(--is-light, var(--lightest-pink)) var(--is-dark, var(--darkest-pink));
	--secondary-pink: var(--is-light, var(--lighter-pink)) var(--is-dark, var(--darker-pink));
	--tertiary-pink: var(--is-light, var(--light-pink)) var(--is-dark, var(--dark-pink));

	--contrast-primary-pink: var(--is-light, var(--dark-pink)) var(--is-dark, var(--light-pink));
	--contrast-secondary-pink: var(--is-light, var(--darker-pink)) var(--is-dark, var(--lighter-pink));
	--contrast-tertiary-pink: var(--is-light, var(--darkest-pink)) var(--is-dark, var(--lightest-pink));

	/* Purple: */
	--lightest-purple: oklch(0.9 0.15 300);
	--lighter-purple: oklch(0.85 0.15 300);
	--light-purple: oklch(0.8 0.15 300);

	--dark-purple: oklch(0.4 0.15 300);
	--darker-purple: oklch(0.35 0.15 300);
	--darkest-purple: oklch(0.3 0.15 300);

	--primary-purple: var(--is-light, var(--lightest-purple)) var(--is-dark, var(--darkest-purple));
	--secondary-purple: var(--is-light, var(--lighter-purple)) var(--is-dark, var(--darker-purple));
	--tertiary-purple: var(--is-light, var(--light-purple)) var(--is-dark, var(--dark-purple));

	--contrast-primary-purple: var(--is-light, var(--dark-purple)) var(--is-dark, var(--light-purple));
	--contrast-secondary-purple: var(--is-light, var(--darker-purple)) var(--is-dark, var(--lighter-purple));
	--contrast-tertiary-purple: var(--is-light, var(--darkest-purple)) var(--is-dark, var(--lightest-purple));

	/* Red: */
	--lightest-red: oklch(0.9 0.2 30);
	--lighter-red: oklch(0.85 0.2 30);
	--light-red: oklch(0.8 0.2 30);

	--dark-red: oklch(0.4 0.2 30);
	--darker-red: oklch(0.35 0.2 30);
	--darkest-red: oklch(0.3 0.2 30);

	--primary-red: var(--is-light, var(--lightest-red)) var(--is-dark, var(--darkest-red));
	--secondary-red: var(--is-light, var(--lighter-red)) var(--is-dark, var(--darker-red));
	--tertiary-red: var(--is-light, var(--light-red)) var(--is-dark, var(--dark-red));

	--contrast-primary-red: var(--is-light, var(--dark-red)) var(--is-dark, var(--light-red));
	--contrast-secondary-red: var(--is-light, var(--darker-red)) var(--is-dark, var(--lighter-red));
	--contrast-tertiary-red: var(--is-light, var(--darkest-red)) var(--is-dark, var(--lightest-red));

	/* Violet: */
	--lightest-violet: oklch(0.9 0.15 290);
	--lighter-violet: oklch(0.85 0.15 290);
	--light-violet: oklch(0.8 0.15 290);

	--dark-violet: oklch(0.4 0.15 290);
	--darker-violet: oklch(0.35 0.15 290);
	--darkest-violet: oklch(0.3 0.15 290);

	--primary-violet: var(--is-light, var(--lightest-violet)) var(--is-dark, var(--darkest-violet));
	--secondary-violet: var(--is-light, var(--lighter-violet)) var(--is-dark, var(--darker-violet));
	--tertiary-violet: var(--is-light, var(--light-violet)) var(--is-dark, var(--dark-violet));

	--contrast-primary-violet: var(--is-light, var(--dark-violet)) var(--is-dark, var(--light-violet));
	--contrast-secondary-violet: var(--is-light, var(--darker-violet)) var(--is-dark, var(--lighter-violet));
	--contrast-tertiary-violet: var(--is-light, var(--darkest-violet)) var(--is-dark, var(--lightest-violet));

	/* Yellow: */
	--lightest-yellow: oklch(0.9 0.15 90);
	--lighter-yellow: oklch(0.85 0.15 90);
	--light-yellow: oklch(0.8 0.15 90);

	--dark-yellow: oklch(0.4 0.15 90);
	--darker-yellow: oklch(0.35 0.15 90);
	--darkest-yellow: oklch(0.3 0.15 90);

	--primary-yellow: var(--is-light, var(--lightest-yellow)) var(--is-dark, var(--darkest-yellow));
	--secondary-yellow: var(--is-light, var(--lighter-yellow)) var(--is-dark, var(--darker-yellow));
	--tertiary-yellow: var(--is-light, var(--light-yellow)) var(--is-dark, var(--dark-yellow));

	--contrast-primary-yellow: var(--is-light, var(--dark-yellow)) var(--is-dark, var(--light-yellow));
	--contrast-secondary-yellow: var(--is-light, var(--darker-yellow)) var(--is-dark, var(--lighter-yellow));
	--contrast-tertiary-yellow: var(--is-light, var(--darkest-yellow)) var(--is-dark, var(--lightest-yellow));
}