/* Semantic Props for color. */

.semantic {
	/* Color Weights: */
	@for $weight from 100 to 900 by 50 {
		/* Calculate Lightness and Chroma: */
		$percentage: calc(1 - ($weight - 100) / (900 - 100));
		$l: calc(0.15 + (0.99 - 0.15) * $percentage);
		$c: calc(sin(l * pi) * c);

		/* Colors + Neutral: */
		--accent-$(weight): var(--blue-$(weight));

		--blue-$(weight): oklch(from oklch(0.6 0.15 240) $l $c h);
		--brown-$(weight): oklch(from oklch(0.6 0.05 50) $l $c h);
		--coral-$(weight): oklch(from oklch(0.7 0.2 40) $l $c h);
		--cyan-$(weight): oklch(from oklch(0.7 0.15 180) $l $c h);
		--green-$(weight): oklch(from oklch(0.6 0.2 150) $l $c h);
		--indigo-$(weight): oklch(from oklch(0.4 0.2 270) $l $c h);
		--lime-$(weight): oklch(from oklch(0.7 0.15 120) $l $c h);
		--magenta-$(weight): oklch(from oklch(0.6 0.2 330) $l $c h);
		--neutral-$(weight): oklch(from oklch(0.5 0.01 260) $l $c h);
		--orange-$(weight): oklch(from oklch(0.6 0.15 50) $l $c h);
		--pink-$(weight): oklch(from oklch(0.8 0.1 10) $l $c h);
		--purple-$(weight): oklch(from oklch(0.4 0.15 300) $l $c h);
		--red-$(weight): oklch(from oklch(0.5 0.2 30) $l $c h);
		--violet-$(weight): oklch(from oklch(0.4 0.15 290) $l $c h);
		--yellow-$(weight): oklch(from oklch(0.8 0.15 90) $l $c h);
	}

	/* Alias Colors: */
	--primary-color: var(--neutral-100);
	--secondary-color: var(--neutral-150);
	--tertiary-color: var(--neutral-200);

	--high-contrast-color: var(--neutral-800);
	--medium-contrast-color: var(--neutral-650);
	--low-contrast-color: var(--neutral-550);

	@container style(--high-contrast) {
		--high-contrast-color: var(--neutral-900);
		--medium-contrast-color: var(--neutral-750);
		--low-contrast-color: var(--neutral-650);
	}

	@container style(--dark) {
		--primary-color: var(--neutral-900);
		--secondary-color: var(--neutral-850);
		--tertiary-color: var(--neutral-800);

		--high-contrast-color: var(--neutral-200);
		--medium-contrast-color: var(--neutral-350);
		--low-contrast-color: var(--neutral-450);
	}

	@container style(--dark) and style(--high-contrast) {
		--high-contrast-color: var(--neutral-100);
		--medium-contrast-color: var(--neutral-250);
		--low-contrast-color: var(--neutral-350);
	}

	/* Stroke Color: */
	--light-stroke-color: var(--neutral-350);
	--dark-stroke-color: var(--neutral-650);
	--stroke-color: var(--low-contrast-color);
}