/* Semantic Props for color. */

@import "boolean.css";

:where(.semantic) {
	/* Light/Dark Booleans: */
	&:where(:not(& &), .light.dark) {
		--light: var(--true);
		--dark: var(--false);
		@media (prefers-color-scheme: dark) {
			--light: var(--false);
			--dark: var(--true);
		}
	}

	&:where(.light:not(.dark)) {
		--light: var(--true);
		--dark: var(--false);
	}

	&:where(.dark:not(.light)) {
		--light: var(--false);
		--dark: var(--true);
	}

	/* Color Weights: */
	@for $weight from 0 to 9 {
		/* Calculate Lightness and Chroma: */
		$percentage: calc(1 - $weight / 9);
		$l: calc(0.15 + (0.98 - 0.15) * $percentage);
		$c: calc(sin(l * pi) * c);

		/* Colors + Gray: */
		--accent-$(weight): var(--blue-$(weight));

		--blue-$(weight): oklch(from oklch(0.6 0.15 240) $l $c h);
		--brown-$(weight): oklch(from oklch(0.6 0.05 50) $l $c h);
		--coral-$(weight): oklch(from oklch(0.7 0.2 40) $l $c h);
		--cyan-$(weight): oklch(from oklch(0.7 0.15 180) $l $c h);
		--green-$(weight): oklch(from oklch(0.6 0.2 150) $l $c h);
		--indigo-$(weight): oklch(from oklch(0.4 0.2 270) $l $c h);
		--lime-$(weight): oklch(from oklch(0.7 0.15 120) $l $c h);
		--magenta-$(weight): oklch(from oklch(0.6 0.2 330) $l $c h);
		--neutral-$(weight): oklch(from oklch(0.5 0.01 260) $l $c h);
		--orange-$(weight): oklch(from oklch(0.6 0.15 50) $l $c h);
		--pink-$(weight): oklch(from oklch(0.8 0.1 10) $l $c h);
		--purple-$(weight): oklch(from oklch(0.4 0.15 300) $l $c h);
		--red-$(weight): oklch(from oklch(0.5 0.2 30) $l $c h);
		--violet-$(weight): oklch(from oklch(0.4 0.15 290) $l $c h);
		--yellow-$(weight): oklch(from oklch(0.8 0.15 90) $l $c h);
	}

	/* Alias Colors: */
	--primary-color: var(--light, var(--neutral-0)) var(--dark, var(--neutral-9));
	--secondary-color: var(--light, var(--neutral-1)) var(--dark, var(--neutral-8));
	--tertiary-color: var(--light, var(--neutral-2)) var(--dark, var(--neutral-7));

	--high-contrast-color: var(--light, var(--neutral-8)) var(--dark, var(--neutral-1));
	--medium-contrast-color: var(--light, var(--neutral-6)) var(--dark, var(--neutral-3));
	--low-contrast-color: var(--light, var(--neutral-5)) var(--dark, var(--neutral-4));
	@media (prefers-contrast: more) {
		--high-contrast-color: var(--light, var(--neutral-9)) var(--dark, var(--neutral-0));
		--medium-contrast-color: var(--light, var(--neutral-7)) var(--dark, var(--neutral-2));
		--low-contrast-color: var(--light, var(--neutral-6)) var(--dark, var(--neutral-3));
	}

	/* Stroke Color: */
	--light-stroke-color: var(--gray-3);
	--dark-stroke-color: var(--gray-6);
	--stroke-color: var(--low-contrast-color);
}