/* Semantic Props for color. */

@import "boolean.css";

:where(.semantic) {
	/* Light/Dark Booleans: */
	&:where(:not(& &), .light.dark) {
		--light: var(--true);
		--dark: var(--false);
		@media (prefers-color-scheme: dark) {
			--light: var(--false);
			--dark: var(--true);
		}
	}

	&:where(.light:not(.dark)) {
		--light: var(--true);
		--dark: var(--false);
	}

	&:where(.dark:not(.light)) {
		--light: var(--false);
		--dark: var(--true);
	}

	/* Color Weights: */
	@for $weight from 100 to 900 by 50 {
		/* Calculate Lightness and Chroma: */
		$percentage: calc(1 - ($weight - 100) / (900 - 100));
		$l: calc(0.15 + (0.99 - 0.15) * $percentage);
		$c: calc(sin(l * pi) * c);

		/* Colors + Neutral: */
		--accent-$(weight): var(--blue-$(weight));

		--blue-$(weight): oklch(from oklch(0.6 0.15 240) $l $c h);
		--green-$(weight): oklch(from oklch(0.6 0.2 150) $l $c h);
		--indigo-$(weight): oklch(from oklch(0.4 0.2 270) $l $c h);
		--neutral-$(weight): oklch(from oklch(0.5 0.01 260) $l $c h);
		--orange-$(weight): oklch(from oklch(0.6 0.15 50) $l $c h);
		--red-$(weight): oklch(from oklch(0.5 0.2 30) $l $c h);
		--violet-$(weight): oklch(from oklch(0.4 0.15 290) $l $c h);
		--yellow-$(weight): oklch(from oklch(0.8 0.15 90) $l $c h);
	}

	/* Alias Colors: */
	--primary-color: var(--light, var(--neutral-100)) var(--dark, var(--neutral-900));
	--secondary-color: var(--light, var(--neutral-150)) var(--dark, var(--neutral-850));
	--tertiary-color: var(--light, var(--neutral-200)) var(--dark, var(--neutral-800));

	--high-contrast-color: var(--light, var(--neutral-800)) var(--dark, var(--neutral-200));
	--medium-contrast-color: var(--light, var(--neutral-650)) var(--dark, var(--neutral-350));
	--low-contrast-color: var(--light, var(--neutral-550)) var(--dark, var(--neutral-450));
	@media (prefers-contrast: more) {
		--high-contrast-color: var(--light, var(--neutral-900)) var(--dark, var(--neutral-100));
		--medium-contrast-color: var(--light, var(--neutral-750)) var(--dark, var(--neutral-250));
		--low-contrast-color: var(--light, var(--neutral-650)) var(--dark, var(--neutral-350));
	}

	/* Stroke Color: */
	--light-stroke-color: var(--neutral-350);
	--dark-stroke-color: var(--neutral-650);
	--stroke-color: var(--low-contrast-color);
}