/* Semantic Props for color. */

:root {
	/* Color Weights: */
	@for $weight from 100 to 900 by 50 {
		/* Calculate Lightness and Chroma: */
		$percentage: calc(1 - ($weight - 100) / (900 - 100));
		$l: calc(0.15 + (0.99 - 0.15) * $percentage);
		$c: calc(sin(l * pi) * c);

		/* Alias Colors: */
		--primary-$(weight): var(--gray-$(weight));
		--secondary-$(weight): var(--gray-$(weight));
		--accent-$(weight): var(--blue-$(weight));

		/* Colors + Gray: */
		--blue-$(weight): oklch(from oklch(0.6 0.15 240) $l $c h);
		--brown-$(weight): oklch(from oklch(0.6 0.05 50) $l $c h);
		--coral-$(weight): oklch(from oklch(0.7 0.2 40) $l $c h);
		--cyan-$(weight): oklch(from oklch(0.7 0.15 180) $l $c h);
		--gray-$(weight): oklch(from oklch(0.5 0.01 260) $l $c h);
		--green-$(weight): oklch(from oklch(0.6 0.2 150) $l $c h);
		--indigo-$(weight): oklch(from oklch(0.4 0.2 270) $l $c h);
		--lime-$(weight): oklch(from oklch(0.7 0.15 120) $l $c h);
		--magenta-$(weight): oklch(from oklch(0.6 0.2 330) $l $c h);
		--orange-$(weight): oklch(from oklch(0.6 0.15 50) $l $c h);
		--pink-$(weight): oklch(from oklch(0.8 0.1 10) $l $c h);
		--purple-$(weight): oklch(from oklch(0.4 0.15 300) $l $c h);
		--red-$(weight): oklch(from oklch(0.5 0.2 30) $l $c h);
		--violet-$(weight): oklch(from oklch(0.4 0.15 290) $l $c h);
		--yellow-$(weight): oklch(from oklch(0.8 0.15 90) $l $c h);
	}

	/* Alias Colors: */
	--lightest-primary: var(--primary-100);
	--lighter-primary: var(--primary-150);
	--light-primary: var(--primary-200);
	--dark-primary: var(--primary-800);
	--darker-primary: var(--primary-850);
	--darkest-primary: var(--primary-900);

	--lightest-secondary: var(--secondary-100);
	--lighter-secondary: var(--secondary-150);
	--light-secondary: var(--secondary-200);
	--dark-secondary: var(--secondary-800);
	--darker-secondary: var(--secondary-850);
	--darkest-secondary: var(--secondary-900);

	--lightest-accent: var(--accent-300);
	--lighter-accent: var(--accent-350);
	--light-accent: var(--accent-400);
	--dark-accent: var(--accent-600);
	--darker-accent: var(--accent-650);
	--darkest-accent: var(--accent-700);
}