/* Color: Palette of custom property colors. */

@custom-media --prefers-light-color (prefers-color-scheme: light);
@custom-media --prefers-dark-color (prefers-color-scheme: dark);

:root {
	/* Color Palette: */
	--theme-color: oklch(95% 0.01 248);
	--primary-color: oklch(70% 0.1 240);
	--secondary-color: oklch(60% 0.02 240);
	--success-color: oklch(70% 0.1 148);
	--danger-color: oklch(60% 0.1 24);
	--warning-color: oklch(90% 0.1 86);
	--info-color: oklch(80% 0.1 216);

	/* Color Weights: */
	--theme-color-50: oklch(from var(--theme-color) 95% c h);
	--theme-color-100: oklch(from var(--theme-color) 90% c h);
	--theme-color-200: oklch(from var(--theme-color) 80% c h);
	--theme-color-300: oklch(from var(--theme-color) 70% c h);
	--theme-color-400: oklch(from var(--theme-color) 60% c h);
	--theme-color-500: oklch(from var(--theme-color) 50% c h);
	--theme-color-600: oklch(from var(--theme-color) 40% c h);
	--theme-color-700: oklch(from var(--theme-color) 30% c h);
	--theme-color-800: oklch(from var(--theme-color) 20% c h);
	--theme-color-900: oklch(from var(--theme-color) 10% c h);
	--theme-color-950: oklch(from var(--theme-color) 5% c h);

	--primary-color-50: oklch(from var(--primary-color) 95% c h);
	--primary-color-100: oklch(from var(--primary-color) 90% c h);
	--primary-color-200: oklch(from var(--primary-color) 80% c h);
	--primary-color-300: oklch(from var(--primary-color) 70% c h);
	--primary-color-400: oklch(from var(--primary-color) 60% c h);
	--primary-color-500: oklch(from var(--primary-color) 50% c h);
	--primary-color-600: oklch(from var(--primary-color) 40% c h);
	--primary-color-700: oklch(from var(--primary-color) 30% c h);
	--primary-color-800: oklch(from var(--primary-color) 20% c h);
	--primary-color-900: oklch(from var(--primary-color) 10% c h);
	--primary-color-950: oklch(from var(--primary-color) 5% c h);

	--secondary-color-50: oklch(from var(--secondary-color) 95% c h);
	--secondary-color-100: oklch(from var(--secondary-color) 90% c h);
	--secondary-color-200: oklch(from var(--secondary-color) 80% c h);
	--secondary-color-300: oklch(from var(--secondary-color) 70% c h);
	--secondary-color-400: oklch(from var(--secondary-color) 60% c h);
	--secondary-color-500: oklch(from var(--secondary-color) 50% c h);
	--secondary-color-600: oklch(from var(--secondary-color) 40% c h);
	--secondary-color-700: oklch(from var(--secondary-color) 30% c h);
	--secondary-color-800: oklch(from var(--secondary-color) 20% c h);
	--secondary-color-900: oklch(from var(--secondary-color) 10% c h);
	--secondary-color-950: oklch(from var(--secondary-color) 5% c h);

	--success-color-50: oklch(from var(--success-color) 95% c h);
	--success-color-100: oklch(from var(--success-color) 90% c h);
	--success-color-200: oklch(from var(--success-color) 80% c h);
	--success-color-300: oklch(from var(--success-color) 70% c h);
	--success-color-400: oklch(from var(--success-color) 60% c h);
	--success-color-500: oklch(from var(--success-color) 50% c h);
	--success-color-600: oklch(from var(--success-color) 40% c h);
	--success-color-700: oklch(from var(--success-color) 30% c h);
	--success-color-800: oklch(from var(--success-color) 20% c h);
	--success-color-900: oklch(from var(--success-color) 10% c h);
	--success-color-950: oklch(from var(--success-color) 5% c h);

	--danger-color-50: oklch(from var(--danger-color) 95% c h);
	--danger-color-100: oklch(from var(--danger-color) 90% c h);
	--danger-color-200: oklch(from var(--danger-color) 80% c h);
	--danger-color-300: oklch(from var(--danger-color) 70% c h);
	--danger-color-400: oklch(from var(--danger-color) 60% c h);
	--danger-color-500: oklch(from var(--danger-color) 50% c h);
	--danger-color-600: oklch(from var(--danger-color) 40% c h);
	--danger-color-700: oklch(from var(--danger-color) 30% c h);
	--danger-color-800: oklch(from var(--danger-color) 20% c h);
	--danger-color-900: oklch(from var(--danger-color) 10% c h);
	--danger-color-950: oklch(from var(--danger-color) 5% c h);

	--warning-color-50: oklch(from var(--warning-color) 95% c h);
	--warning-color-100: oklch(from var(--warning-color) 90% c h);
	--warning-color-200: oklch(from var(--warning-color) 80% c h);
	--warning-color-300: oklch(from var(--warning-color) 70% c h);
	--warning-color-400: oklch(from var(--warning-color) 60% c h);
	--warning-color-500: oklch(from var(--warning-color) 50% c h);
	--warning-color-600: oklch(from var(--warning-color) 40% c h);
	--warning-color-700: oklch(from var(--warning-color) 30% c h);
	--warning-color-800: oklch(from var(--warning-color) 20% c h);
	--warning-color-900: oklch(from var(--warning-color) 10% c h);
	--warning-color-950: oklch(from var(--warning-color) 5% c h);

	--info-color-50: oklch(from var(--info-color) 95% c h);
	--info-color-100: oklch(from var(--info-color) 90% c h);
	--info-color-200: oklch(from var(--info-color) 80% c h);
	--info-color-300: oklch(from var(--info-color) 70% c h);
	--info-color-400: oklch(from var(--info-color) 60% c h);
	--info-color-500: oklch(from var(--info-color) 50% c h);
	--info-color-600: oklch(from var(--info-color) 40% c h);
	--info-color-700: oklch(from var(--info-color) 30% c h);
	--info-color-800: oklch(from var(--info-color) 20% c h);
	--info-color-900: oklch(from var(--info-color) 10% c h);
	--info-color-950: oklch(from var(--info-color) 5% c h);

	/* Background and UI Colors: */
	--theme-bg-color-1: var(--theme-color-50);
	--theme-bg-color-2: var(--theme-color-100);
	--theme-bg-color-3: var(--theme-color-200);
	--theme-ui-color-1: var(--theme-color-700);
	--theme-ui-color-2: var(--theme-color-800);
	--theme-ui-color-3: var(--theme-color-900);

	--primary-bg-color-1: var(--primary-color-100);
	--primary-bg-color-2: var(--primary-color-200);
	--primary-bg-color-3: var(--primary-color-300);
	--primary-ui-color-1: var(--primary-color-500);
	--primary-ui-color-2: var(--primary-color-600);
	--primary-ui-color-3: var(--primary-color-700);

	--secondary-bg-color-1: var(--secondary-color-100);
	--secondary-bg-color-2: var(--secondary-color-200);
	--secondary-bg-color-3: var(--secondary-color-300);
	--secondary-ui-color-1: var(--secondary-color-500);
	--secondary-ui-color-2: var(--secondary-color-600);
	--secondary-ui-color-3: var(--secondary-color-700);

	--success-bg-color-1: var(--success-color-100);
	--success-bg-color-2: var(--success-color-200);
	--success-bg-color-3: var(--success-color-300);
	--success-ui-color-1: var(--success-color-500);
	--success-ui-color-2: var(--success-color-600);
	--success-ui-color-3: var(--success-color-700);

	--danger-bg-color-1: var(--danger-color-100);
	--danger-bg-color-2: var(--danger-color-200);
	--danger-bg-color-3: var(--danger-color-300);
	--danger-ui-color-1: var(--danger-color-500);
	--danger-ui-color-2: var(--danger-color-600);
	--danger-ui-color-3: var(--danger-color-700);

	--warning-bg-color-1: var(--warning-color-100);
	--warning-bg-color-2: var(--warning-color-200);
	--warning-bg-color-3: var(--warning-color-300);
	--warning-ui-color-1: var(--warning-color-500);
	--warning-ui-color-2: var(--warning-color-600);
	--warning-ui-color-3: var(--warning-color-700);

	--info-bg-color-1: var(--info-color-100);
	--info-bg-color-2: var(--info-color-200);
	--info-bg-color-3: var(--info-color-300);
	--info-ui-color-1: var(--info-color-500);
	--info-ui-color-2: var(--info-color-600);
	--info-ui-color-3: var(--info-color-700);

	@media (--prefers-dark-color) {
		--theme-bg-color-1: var(--theme-color-600);
		--theme-bg-color-2: var(--theme-color-700);
		--theme-bg-color-3: var(--theme-color-800);
		--theme-ui-color-1: var(--theme-color-100);
		--theme-ui-color-2: var(--theme-color-200);
		--theme-ui-color-3: var(--theme-color-300);

		--primary-bg-color-1: var(--primary-color-600);
		--primary-bg-color-2: var(--primary-color-700);
		--primary-bg-color-3: var(--primary-color-800);
		--primary-ui-color-1: var(--primary-color-200);
		--primary-ui-color-2: var(--primary-color-300);
		--primary-ui-color-3: var(--primary-color-400);

		--secondary-bg-color-1: var(--secondary-color-600);
		--secondary-bg-color-2: var(--secondary-color-700);
		--secondary-bg-color-3: var(--secondary-color-800);
		--secondary-ui-color-1: var(--secondary-color-200);
		--secondary-ui-color-2: var(--secondary-color-300);
		--secondary-ui-color-3: var(--secondary-color-400);

		--success-bg-color-1: var(--success-color-600);
		--success-bg-color-2: var(--success-color-700);
		--success-bg-color-3: var(--success-color-800);
		--success-ui-color-1: var(--success-color-200);
		--success-ui-color-2: var(--success-color-300);
		--success-ui-color-3: var(--success-color-400);

		--danger-bg-color-1: var(--danger-color-600);
		--danger-bg-color-2: var(--danger-color-700);
		--danger-bg-color-3: var(--danger-color-800);
		--danger-ui-color-1: var(--danger-color-200);
		--danger-ui-color-2: var(--danger-color-300);
		--danger-ui-color-3: var(--danger-color-400);

		--warning-bg-color-1: var(--warning-color-600);
		--warning-bg-color-2: var(--warning-color-700);
		--warning-bg-color-3: var(--warning-color-800);
		--warning-ui-color-1: var(--warning-color-200);
		--warning-ui-color-2: var(--warning-color-300);
		--warning-ui-color-3: var(--warning-color-400);

		--info-bg-color-1: var(--info-color-600);
		--info-bg-color-2: var(--info-color-700);
		--info-bg-color-3: var(--info-color-800);
		--info-ui-color-1: var(--info-color-200);
		--info-ui-color-2: var(--info-color-300);
		--info-ui-color-3: var(--info-color-400);
	}
}