/* Semantic Props for color. */

:root {
	@for $weight from 100 to 900 by 50 {
		/* Calculate Lightness and Chroma: */
		$percentage: calc(1 - ($weight - 100) / (900 - 100));
		$l: calc(0.15 + (0.99 - 0.15) * $percentage);
		$c: calc(sin(l * pi) * c);

		/* Colors + Neutral: */
		--accent-$(weight): var(--blue-$(weight));

		--blue-$(weight): oklch(from oklch(0.6 0.15 240) $l $c h);
		--green-$(weight): oklch(from oklch(0.6 0.2 150) $l $c h);
		--indigo-$(weight): oklch(from oklch(0.4 0.2 270) $l $c h);
		--neutral-$(weight): oklch(from oklch(0.5 0.01 260) $l $c h);
		--orange-$(weight): oklch(from oklch(0.6 0.15 50) $l $c h);
		--red-$(weight): oklch(from oklch(0.5 0.2 30) $l $c h);
		--violet-$(weight): oklch(from oklch(0.4 0.15 290) $l $c h);
		--yellow-$(weight): oklch(from oklch(0.8 0.15 90) $l $c h);
	}
}