/* Semantic Props for colors. Follows the 60-30-10 color theory rule. */

@use "sass:color" as color;

$weights: 50 100 200 300 400 500 600 700 800 900;

$props: (
	"light": (
		--primary: #f5f9ff,
		--secondary: #020306,
		--accent: #006aab
	),
	"dark": (
		--primary: #13161b,
		--secondary: #dadee5,
		--accent: #60a7d6
	)
);

/* Weighted/Light-Dark Colors: */
@each $scheme, $map in $props {
	@media (prefers-color-scheme: $scheme) {
		:where(.semantic) {
			@each $prop, $color in $map {
				@each $l in $weights {
					/* Weighted Colors: */
					#{$prop}-#{$l}: color.change($color, $lightness: calc(1 - ($l / 1000)), $space: oklch);
					/* Light-Dark Colors: */
					@each $d in $weights {
						@if $d != $l {
							@if $scheme == light {
								#{$prop}-#{$l}-#{$d}: var(#{$prop}-#{$l});
							}
							@if $scheme == dark {
								#{$prop}-#{$l}-#{$d}: var(#{$prop}-#{$d});
							}
						}
					}
				}
			}
		}
	}
}