/* Semantic Props for color. */

@import "boolean.css";

:where(.semantic) {
	/* Light/Dark Booleans: */
	&:where(:not(& &), .light.dark) {
		--light: var(--true);
		--dark: var(--false);
		@media (prefers-color-scheme: dark) {
			--light: var(--false);
			--dark: var(--true);
		}
	}

	&:where(.light:not(.dark)) {
		--light: var(--true);
		--dark: var(--false);
	}

	&:where(.dark:not(.light)) {
		--light: var(--false);
		--dark: var(--true);
	}

	/* Color Palette: */
	--white: white;
	--black: black;

	@for $weight from 0 to 9 {
		/* Calculate Lightness and Chroma: */
		$percentage: calc(1 - $weight / 9);
		$l: calc(0.15 + (0.97 - 0.15) * $percentage);
		$c: calc(sin(l * pi) * c);

		--accent-$(weight): var(--blue-$(weight));

		--blue-$(weight): oklch(from oklch(0.6 0.15 240) $l $c h);
		--brown-$(weight): oklch(from oklch(0.6 0.05 50) $l $c h);
		--coral-$(weight): oklch(from oklch(0.7 0.2 40) $l $c h);
		--cyan-$(weight): oklch(from oklch(0.7 0.15 180) $l $c h);
		--gray-$(weight): oklch(from oklch(0.5 0.01 260) $l $c h);
		--green-$(weight): oklch(from oklch(0.6 0.2 150) $l $c h);
		--indigo-$(weight): oklch(from oklch(0.4 0.2 270) $l $c h);
		--lime-$(weight): oklch(from oklch(0.7 0.15 120) $l $c h);
		--magenta-$(weight): oklch(from oklch(0.6 0.2 330) $l $c h);
		--orange-$(weight): oklch(from oklch(0.6 0.15 50) $l $c h);
		--pink-$(weight): oklch(from oklch(0.8 0.1 10) $l $c h);
		--purple-$(weight): oklch(from oklch(0.4 0.15 300) $l $c h);
		--red-$(weight): oklch(from oklch(0.5 0.2 30) $l $c h);
		--violet-$(weight): oklch(from oklch(0.4 0.15 290) $l $c h);
		--yellow-$(weight): oklch(from oklch(0.8 0.15 90) $l $c h);
	}

	/* Alias Colors: */
	--primary-body-color: var(--light, var(--white)) var(--dark, var(--black));
	--secondary-body-color: var(--light, var(--gray-1)) var(--dark, var(--gray-9));
	--tertiary-body-color: var(--light, var(--gray-2)) var(--dark, var(--gray-8));

	--primary-text-color: var(--light, var(--gray-9)) var(--dark, var(--gray-1));
	--secondary-text-color: var(--light, var(--gray-8)) var(--dark, var(--gray-2));
	--tertiary-text-color: var(--light, var(--gray-7)) var(--dark, var(--gray-3));

	--primary-accent-color: var(--light, var(--accent-6)) var(--dark, var(--accent-3));
	--secondary-accent-color: var(--light, var(--accent-7)) var(--dark, var(--accent-4));
	--tertiary-accent-color: var(--light, var(--accent-8)) var(--dark, var(--accent-5));

	/* Stroke Color: */
	--light-stroke-color: var(--gray-3);
	--dark-stroke-color: var(--gray-7);
	--stroke-color: var(--gray-5);
}