/* Semantic Props for color. */

@custom-media --light (prefers-color-scheme: light);
@custom-media --dark (prefers-color-scheme: dark);

:root {
	/* White/Black: */
	--white: white;
	--black: oklch(0.15 0 0);

	/* Color Weights: */
	@for $weight from 50 to 950 by 50 {
		/* Calculate Lightness and Chroma: */
		$percentage: calc(1 - ($weight - 50) / (950 - 50));
		$l: calc(0.2 + (0.95 - 0.2) * $percentage);
		$c: calc(sin(l * pi) * c);

		/* Colors + Gray: */
		--accent-$(weight): var(--blue-$(weight));

		--blue-$(weight): oklch(from oklch(0.6 0.15 240) $l $c h);
		--brown-$(weight): oklch(from oklch(0.6 0.05 50) $l $c h);
		--coral-$(weight): oklch(from oklch(0.7 0.2 40) $l $c h);
		--cyan-$(weight): oklch(from oklch(0.7 0.15 180) $l $c h);
		--gray-$(weight): oklch(from oklch(0.5 0.01 260) $l $c h);
		--green-$(weight): oklch(from oklch(0.6 0.2 150) $l $c h);
		--indigo-$(weight): oklch(from oklch(0.4 0.2 270) $l $c h);
		--lime-$(weight): oklch(from oklch(0.7 0.15 120) $l $c h);
		--magenta-$(weight): oklch(from oklch(0.6 0.2 330) $l $c h);
		--orange-$(weight): oklch(from oklch(0.6 0.15 50) $l $c h);
		--pink-$(weight): oklch(from oklch(0.8 0.1 10) $l $c h);
		--red-$(weight): oklch(from oklch(0.5 0.2 30) $l $c h);
		--violet-$(weight): oklch(from oklch(0.4 0.15 290) $l $c h);
		--yellow-$(weight): oklch(from oklch(0.8 0.15 90) $l $c h);
	}

	/* Contextual Colors: */
	--background-color: var(--white);
	--middleground-color: var(--gray-50);
	--foreground-color: var(--gray-100);

	--high-contrast-color: var(--gray-900);
	--medium-contrast-color: var(--gray-800);
	--low-contrast-color: var(--gray-700);

	@media (--dark) {
		--background-color: var(--black);
		--middleground-color: var(--gray-950);
		--foreground-color: var(--gray-900);

		--high-contrast-color: var(--gray-100);
		--medium-contrast-color: var(--gray-200);
		--low-contrast-color: var(--gray-300);
	}
}