////
/// Exported Semantic Props used for color.
////

@use "sass:color" as color;
@use "sass:math" as math;

/// Mapped Semantic Props colors to values.
/// Exports (0 through 12) property colors (0% to 100% lightness).
/// Property uses --[prop]-color-[lightness] syntax.
/// @type map
$colors: (
	theme: rgb(233, 239, 245),
	primary: rgb(38, 169, 241),
	secondary: rgb(118, 130, 139),
	success: rgb(82, 183, 102),
	danger: rgb(202, 85, 83),
	warning: rgb(255, 214, 90),
	info: rgb(0, 212, 251)
);

:export {
	@each $prop, $color in $colors {
		// Define color Semantic Props name:
		$prop: --#{$prop}-color;

		// Define reference color prop:
		#{$prop}: $color;

		// Define weighted color props:
		@for $l from 0 through 12 {
			// Calculate color lightness channel:
			$light: 100% * math.div($l, 12);

			// Define weighted color prop fallback:
			#{$prop}-#{$l}: color.change($color, $lightness: $light);
		}
	}
}