////
/// Semantic Props used for color.
/// @group colors
/// @since 0.3.0
////

@use "sass:color" as color;
@use "sass:map" as map;
@use "sass:math" as math;

/// Mapped Semantic Props colors to values.
/// Generates (0 through 12) custom property colors (0% to 100% lightness).
/// Custom property uses --[prop]-color-[light]-[dark] syntax.
/// Uses CSS Relative Colors and light-dark function.
/// @type map
$colors: (
	theme: rgb(233, 239, 245),
	primary: rgb(38, 169, 241),
	secondary: rgb(118, 130, 139),
	success: rgb(82, 183, 102),
	danger: rgb(202, 85, 83),
	warning: rgb(255, 214, 90),
	info: rgb(0, 212, 251)
);

:where(.--semantic) {
	@each $prop, $color in $colors {
		// Define color Semantic Props name:
		$prop: --#{$prop}-color;

		// Define reference color prop:
		#{$prop}: $color;

		// Define weighted color props:
		@for $l from 0 through 12 {
			// Calculate color lightness channel:
			$light: 100% * math.div($l, 12);

			// Define weighted relative color prop alongside fallback:
			#{$prop}-#{$l}: color.change($color, $lightness: $light);
			#{$prop}-#{$l}: oklch(from var($prop) #{$light} c h);

			// Define light-dark color prop alongside fallback:
			@for $d from 0 through 12 {
				#{$prop}-#{$l}-#{$d}: var(#{$prop}-#{$l});
				@if ($l != $d) {
					#{$prop}-#{$l}-#{$d}: light-dark(
						var(#{$prop}-#{$l}), var(#{$prop}-#{$d})
					);
				}
			}
		}
	}
}

/// Gets Semantic Props mapped color value.
/// @see $colors
/// @parameter {string} $prop Name of color prop.
/// @returns {color} Value of color prop.
@function color($prop) {
	@return map.get($colors, $prop);
}