/* Semantic Props for the complementary color. */

@import "is.css";
@import "neutral.css";

:where(.semantic) {
	--lightest-complement: var(--lightest-neutral);
	--lighter-complement: var(--lighter-neutral);
	--light-complement: var(--light-neutral);

	--dark-complement: var(--dark-neutral);
	--darker-complement: var(--darker-neutral);
	--darkest-complement: var(--darkest-neutral);

	--primary-complement: var(--is-light, var(--darkest-complement)) var(--is-dark, var(--lightest-complement));
	--secondary-complement: var(--is-light, var(--darker-complement)) var(--is-dark, var(--lighter-complement));
	--tertiary-complement: var(--is-light, var(--dark-complement)) var(--is-dark, var(--light-complement));
}