/* Semantic Props for container sizes. */

:where(.semantic) {
	--smallest-container: 11.25rem; /* 180px */
	--smaller-container: 15rem; /* 240px */
	--small-container: 20rem; /* 320px */
	--medium-container: 30rem; /* 480px */
	--large-container: 48rem; /* 768px */
	--larger-container: 80rem; /* 1280px */
	--largest-container: 100rem; /* 1600px */
}