/* Semantic Props for container sizes. */

:where(.semantic) {
	--smallest-container: 10rem; /* 160px */
	--smaller-container: 15rem; /* 240px */
	--small-container: 20rem; /* 320px */
	--medium-container: 30rem; /* 480px */
	--large-container: 40rem; /* 640px */
	--larger-container: 60rem; /* 960px */
	--largest-container: 80rem; /* 1280px */
}