/* Semantic Props for container sizes. */

:where(.semantic) {
	--3x-small-container: 11.25rem;
	--2x-small-container: 15rem;
	--x-small-container: 22.5rem;
	--small-container: 30rem;
	--medium-container: 48rem;
	--large-container: 64rem;
	--x-large-container: 90rem;
	--2x-large-container: 100rem;
	--3x-large-container: 120rem;
}