/* Semantic Props for the color coral. */

@import "is.css";

:where(.semantic) {
	--lightest-coral: oklch(0.9 0.2 40);
	--lighter-coral: oklch(0.8 0.2 40);
	--light-coral: oklch(0.7 0.2 40);

	--dark-coral: oklch(0.5 0.2 40);
	--darker-coral: oklch(0.4 0.2 40);
	--darkest-coral: oklch(0.3 0.2 40);

	--primary-coral: var(--is-light, var(--dark-coral)) var(--is-dark, var(--light-coral));
	--secondary-coral: var(--is-light, var(--darker-coral)) var(--is-dark, var(--lighter-coral));
	--tertiary-coral: var(--is-light, var(--darkest-coral)) var(--is-dark, var(--lightest-coral));
}