/* Semantic Props for the color coral. */

.semantic {
	--coral-0: oklch(0.98 0.2 40);
	--coral-1: oklch(0.9 0.2 40);
	--coral-2: oklch(0.8 0.2 40);
	--coral-3: oklch(0.7 0.2 40);
	--coral-4: oklch(0.6 0.2 40);
	--coral-5: oklch(0.5 0.2 40);
	--coral-6: oklch(0.4 0.2 40);
	--coral-7: oklch(0.3 0.2 40);
	--coral-8: oklch(0.2 0.2 40);
	--coral-9: oklch(0.1 0.2 40);
}