/* Semantic Props for the color cyan. */

.semantic {
	--cyan-0: oklch(0.98 0.15 180);
	--cyan-1: oklch(0.9 0.15 180);
	--cyan-2: oklch(0.8 0.15 180);
	--cyan-3: oklch(0.7 0.15 180);
	--cyan-4: oklch(0.6 0.15 180);
	--cyan-5: oklch(0.5 0.15 180);
	--cyan-6: oklch(0.4 0.15 180);
	--cyan-7: oklch(0.3 0.15 180);
	--cyan-8: oklch(0.2 0.15 180);
	--cyan-9: oklch(0.1 0.15 180);
}