/* Semantic Props for the color cyan. */

@import "is.css";

.semantic {
	--cyan-0: oklch(0.98 0.15 180);
	--cyan-1: oklch(0.9 0.15 180);
	--cyan-2: oklch(0.8 0.15 180);
	--cyan-3: oklch(0.7 0.15 180);
	--cyan-4: oklch(0.6 0.15 180);
	--cyan-5: oklch(0.5 0.15 180);
	--cyan-6: oklch(0.4 0.15 180);
	--cyan-7: oklch(0.3 0.15 180);
	--cyan-8: oklch(0.2 0.15 180);
	--cyan-9: oklch(0.1 0.15 180);

	--cyan-0-light: var(--is-light, var(--cyan-0));
	--cyan-1-light: var(--is-light, var(--cyan-1));
	--cyan-2-light: var(--is-light, var(--cyan-2));
	--cyan-3-light: var(--is-light, var(--cyan-3));
	--cyan-4-light: var(--is-light, var(--cyan-4));
	--cyan-5-light: var(--is-light, var(--cyan-5));
	--cyan-6-light: var(--is-light, var(--cyan-6));
	--cyan-7-light: var(--is-light, var(--cyan-7));
	--cyan-8-light: var(--is-light, var(--cyan-8));
	--cyan-9-light: var(--is-light, var(--cyan-9));

	--cyan-0-dark: var(--is-dark, var(--cyan-0));
	--cyan-1-dark: var(--is-dark, var(--cyan-1));
	--cyan-2-dark: var(--is-dark, var(--cyan-2));
	--cyan-3-dark: var(--is-dark, var(--cyan-3));
	--cyan-4-dark: var(--is-dark, var(--cyan-4));
	--cyan-5-dark: var(--is-dark, var(--cyan-5));
	--cyan-6-dark: var(--is-dark, var(--cyan-6));
	--cyan-7-dark: var(--is-dark, var(--cyan-7));
	--cyan-8-dark: var(--is-dark, var(--cyan-8));
	--cyan-9-dark: var(--is-dark, var(--cyan-9));
}