/* Semantic Props for the color cyan. */

@import "is.css";

:where(.semantic) {
	--cyan-1: var(--is-light, oklch(0.5 0.15 180)) var(--is-dark, oklch(0.7 0.15 180));
	--cyan-2: var(--is-light, oklch(0.4 0.15 180)) var(--is-dark, oklch(0.8 0.15 180));
	--cyan-3: var(--is-light, oklch(0.3 0.15 180)) var(--is-dark, oklch(0.9 0.15 180));
	@media (prefers-contrast: more) {
		--cyan-1: var(--is-light, oklch(0.45 0.15 180)) var(--is-dark, oklch(0.75 0.15 180));
	}
}