/* Deprecated: Deprecated custom properties to be removed in final release. */

:where(:root) {
	/* One-Up Sizes: */
	--3xs-2xs-size: clamp(0.25rem, 0.2104rem + 0.3521cqi, 0.5625rem);
	--2xs-xs-size: clamp(0.5rem, 0.4525rem + 0.4225cqi, 0.875rem);
	--xs-sm-size: clamp(0.75rem, 0.7025rem + 0.4225cqi, 1.125rem);
	--sm-md-size: clamp(1rem, 0.9129rem + 0.7746cqi, 1.6875rem);
	--md-lg-size: clamp(1.5rem, 1.4049rem + 0.8451cqi, 2.25rem);
	--lg-xl-size: clamp(2rem, 1.8257rem + 1.5493cqi, 3.375rem);
	--xl-2xl-size: clamp(3rem, 2.8099rem + 1.6901cqi, 4.5rem);
	--2xl-3xl-size: clamp(4rem, 3.6514rem + 3.0986cqi, 6.75rem);

	/* Custom Sizes: */
	--content-margin-size: clamp(1rem, 0.5563rem + 3.9437cqi, 4.5rem);

	/* Z-Index Positions: */
	--z-underlay: -1000;
	--z-overlay: 1000;
	--z-dropdown: 2000;
	--z-sticky: 3000;
	--z-fixed: 4000;
	--z-backdrop: 5000;
	--z-modal: 6000;
	--z-popup: 7000;
	--z-tooltip: 8000;
	--z-important: 9000;
}