/* Semantic Props for the dominant color. */

@import "is.css";

:where(.semantic) {
	--lightest-dominant: oklch(0.98 0.01 260);
	--lighter-dominant: oklch(0.9 0.01 260);
	--light-dominant: oklch(0.8 0.01 260);

	--dark-dominant: oklch(0.4 0.01 260);
	--darker-dominant: oklch(0.3 0.01 260);
	--darkest-dominant: oklch(0.2 0.01 260);

	--primary-dominant: var(--is-light, var(--lightest-dominant)) var(--is-dark, var(--darkest-dominant));
	--secondary-dominant: var(--is-light, var(--lighter-dominant)) var(--is-dark, var(--darker-dominant));
	--tertiary-dominant: var(--is-light, var(--light-dominant)) var(--is-dark, var(--dark-dominant));
}