/* Semantic Props for the dominant color. */

@import "is.css";
@import "neutral.css";

:where(.semantic) {
	--lightest-dominant: var(--lightest-neutral);
	--lighter-dominant: var(--lighter-neutral);
	--light-dominant: var(--light-neutral);

	--dark-dominant: var(--dark-neutral);
	--darker-dominant: var(--darker-neutral);
	--darkest-dominant: var(--darkest-neutral);

	--primary-dominant: var(--is-light, var(--lightest-dominant)) var(--is-dark, var(--darkest-dominant));
	--secondary-dominant: var(--is-light, var(--lighter-dominant)) var(--is-dark, var(--darker-dominant));
	--tertiary-dominant: var(--is-light, var(--light-dominant)) var(--is-dark, var(--dark-dominant));
}