/* Semantic Props for CSS filter values. */

:where(.semantic) {
	/* Blur: */
	--lightest-blur: blur(2px);
	--lighter-blur: blur(4px);
	--light-blur: blur(6px);
	--medium-blur: blur(8px);
	--heavy-blur: blur(16px);
	--heavier-blur: blur(24px);
	--heaviest-blur: blur(32px);

	/* Brightness: */
	--lowest-brightness: brightness(0.25);
	--lower-brightness: brightness(0.5);
	--low-brightness: brightness(0.75);
	--high-brightness: brightness(1.25);
	--higher-brightness: brightness(1.5);
	--highest-brightness: brightness(2);

	/* Contrast: */
	--lowest-contrast: contrast(0.25);
	--lower-contrast: contrast(0.5);
	--low-contrast: contrast(0.75);
	--high-contrast: contrast(1.25);
	--higher-contrast: contrast(1.5);
	--highest-contrast: contrast(2);

	/* Saturation: */
	--lowest-saturation: saturation(0.25);
	--lower-saturation: saturation(0.5);
	--low-saturation: saturation(0.75);
	--high-saturation: saturation(1.25);
	--higher-saturation: saturation(1.5);
	--highest-saturation: saturation(2);
}