/* Semantic Props for CSS filter values. */

:root {
	/* Blur: */
	--lightest-blur: blur(2px);
	--lighter-blur: blur(4px);
	--light-blur: blur(6px);
	--medium-blur: blur(8px);
	--heavy-blur: blur(12px);
	--heavier-blur: blur(16px);
	--heaviest-blur: blur(24px);

	/* Brightness: */
	--lowest-brightness: brightness(0.5);
	--lower-brightness: brightness(0.75);
	--low-brightness: brightness(0.875);
	--high-brightness: brightness(1.125);
	--higher-brightness: brightness(1.25);
	--highest-brightness: brightness(1.5);

	/* Contrast: */
	--lowest-contrast: contrast(0.25);
	--lower-contrast: contrast(0.5);
	--low-contrast: contrast(0.75);
	--high-contrast: contrast(1.25);
	--higher-contrast: contrast(1.5);
	--highest-contrast: contrast(2);

	/* Grayscale: */
	--weakest-grayscale: grayscale(0.4);
	--weaker-grayscale: grayscale(0.5);
	--weak-grayscale: grayscale(0.6);
	--medium-grayscale: grayscale(0.7);
	--strong-grayscale: grayscale(0.8);
	--stronger-grayscale: grayscale(0.9);
	--strongest-grayscale: grayscale(1);

	/* Hue-Rotate: */
	--lowest-hue-rotate: hue-rotate(30deg);
	--lower-hue-rotate: hue-rotate(60deg);
	--low-hue-rotate: hue-rotate(120deg);
	--high-hue-rotate: hue-rotate(180deg);
	--higher-hue-rotate: hue-rotate(240deg);
	--highest-hue-rotate: hue-rotate(300deg);

	/* Invert: */
	--weakest-invert: invert(0.66);
	--weaker-invert: invert(0.72);
	--weak-invert: invert(0.78);
	--medium-invert: invert(0.84);
	--strong-invert: invert(0.9);
	--stronger-invert: invert(0.95);
	--strongest-invert: invert(1);

	/* Saturation: */
	--lowest-saturation: saturate(0.25);
	--lower-saturation: saturate(0.5);
	--low-saturation: saturate(0.75);
	--high-saturation: saturate(1.25);
	--higher-saturation: saturate(1.5);
	--highest-saturation: saturate(2);

	/* Sepia: */
	--weakest-sepia: sepia(0.15);
	--weaker-sepia: sepia(0.3);
	--weak-sepia: sepia(0.45);
	--medium-sepia: sepia(0.6);
	--strong-sepia: sepia(0.75);
	--stronger-sepia: sepia(0.9);
	--strongest-sepia: sepia(1);
}