/* Semantic Props for CSS font properties. */
/* https://utopia.fyi/type/calculator?c=180,16,1.067,1920,18,1.25,10,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,3xs-3xl&g=s,l,xl,12 */

:where(.semantic) {
	/* Font-Family: */
	--body-font: system-ui, sans-serif;
	--display-font: var(--body-font);
	--mono-font: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	--accent-font: var(--body-font);

	/* Font-Weight: */
	--thin-font: 200;
	--light-font: 300;
	--regular-font: 500;
	--bold-font: 700;
	--heavy-font: 900;

	/* Font-Size: */
	--x-small-font: clamp(0.72rem, 0.8947rem + -0.1456vw, 0.8784rem);
	--small-font: clamp(0.9rem, 0.9411rem + -0.0342vw, 0.9372rem);
	--medium-font: clamp(1rem, 0.9871rem + 0.1149vw, 1.125rem);
	--large-font: clamp(1.067rem, 1.0319rem + 0.312vw, 1.4063rem);
	--x-large-font: clamp(1.1385rem, 1.0744rem + 0.5695vw, 1.7578rem);
	--2x-large-font: clamp(1.2148rem, 1.1131rem + 0.9034vw, 2.1973rem);
	--3x-large-font: clamp(1.2962rem, 1.1461rem + 1.3337vw, 2.7466rem);
	--4x-large-font: clamp(1.383rem, 1.1709rem + 1.8853vw, 3.4332rem);
	--5x-large-font: clamp(1.4757rem, 1.1844rem + 2.5893vw, 4.2915rem);
	--6x-large-font: clamp(1.5745rem, 1.1825rem + 3.485vw, 5.3644rem);
	--7x-large-font: clamp(1.68rem, 1.1601rem + 4.6211vw, 6.7055rem);
	--8x-large-font: clamp(1.7926rem, 1.1109rem + 6.0591vw, 8.3819rem);
	--9x-large-font: clamp(1.9127rem, 1.0267rem + 7.8756vw, 10.4774rem);

	--smaller-font: clamp(0.9em, 0.9411em + -0.0342vw, 0.9372em);
	--larger-font: clamp(1.067em, 1.0319em + 0.312vw, 1.4063em);
}