/* Semantic Props for styling fonts. */
/* https://utopia.fyi/type/calculator/?c=180,16,1.125,1920,18,1.2,9,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,3xs-3xl&g=s,l,xl,12 */

:where(.semantic) {
	/* Font Families: */
	--font: system-ui, sans-serif;
	--monospace-font: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	--display-font: var(--font);
	--accent-font: var(--font);

	/* Line Heights: */
	--line-height: 1.6;
	--monospace-line-height: var(--line-height);
	--display-line-height: 1.2;
	--accent-line-height: var(--line-height);

	/* Font Weights: */
	--regular-font: 400;
	--thin-font: 200;
	--bold-font: 700;
	--heavy-font: 900;

	/* Absolute Font Sizes: */
	--xs-font: clamp(0.7813rem, 0.791rem + -0.0082cqi, 0.7901rem);
	--sm-font: clamp(0.8889rem, 0.8839rem + 0.0447cqi, 0.9375rem);
	--md-font: clamp(1rem, 0.9871rem + 0.1149cqi, 1.125rem);
	--lg-font: clamp(1.125rem, 1.1017rem + 0.2069cqi, 1.35rem);
	--xl-font: clamp(1.2656rem, 1.229rem + 0.3259cqi, 1.62rem);
	--2xl-font: clamp(1.4238rem, 1.37rem + 0.4783cqi, 1.944rem);
	--3xl-font: clamp(1.6018rem, 1.5262rem + 0.6722cqi, 2.3328rem);
	--4xl-font: clamp(1.802rem, 1.6989rem + 0.9171cqi, 2.7994rem);
	--5xl-font: clamp(2.0273rem, 1.8895rem + 1.2248cqi, 3.3592rem);
	--6xl-font: clamp(2.2807rem, 2.0996rem + 1.6095cqi, 4.0311rem);
	--7xl-font: clamp(2.5658rem, 2.3308rem + 2.0887cqi, 4.8373rem);
	--8xl-font: clamp(2.8865rem, 2.5846rem + 2.6834cqi, 5.8048rem);

	/* Relative Font Sizes: */
	--smaller-font: clamp(0.8889em, 0.8839em + 0.0447cqi, 0.9375em);
	--larger-font: clamp(1.125em, 1.1017em + 0.2069cqi, 1.35em);
}