/* Semantic Props for font properties. */

.semantic {
	/* Font-Family: */
	--body-family: system-ui, sans-serif;
	--display-family: var(--body-family);
	--mono-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	--accent-family: var(--body-family);

	/* Font-Weight: */
	--thin-weight: 200;
	--light-weight: 300;
	--regular-weight: 500;
	--bold-weight: 700;
	--heavy-weight: 900;

	/* Letter-Spacing: */
	--tightest-letter: -0.1em;
	--tighter-letter: -0.075em;
	--tight-letter: -0.05em;
	--normal-letter: normal;
	--wide-letter: 0.1em;
	--wider-letter: 0.2em;
	--widest-letter: 0.3em;

	/* Line-Height: */
	--shortest-line: 1.05;
	--shorter-line: 1.15;
	--short-line: 1.25;
	--normal-line: 1.6;
	--tall-line: 2;
	--taller-line: 2.5;
	--tallest-line: 3;

	/* Word-Spacing: */
	--tightest-word: -0.15em;
	--tighter-word: -0.125em;
	--tight-word: -0.1em;
	--normal-word: normal;
	--wide-word: 0.1em;
	--wider-word: 0.2em;
	--widest-word: 0.3em;
}