/* Semantic Props for font properties. */

:where(.semantic) {
	/* Font-Family: */
	--body-family: system-ui, sans-serif;
	--display-family: var(--body-family);
	--mono-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
	--accent-family: var(--body-family);

	/* Font-Weight: */
	--thin-weight: 200;
	--light-weight: 300;
	--regular-weight: 500;
	--bold-weight: 700;
	--heavy-weight: 900;

	/* Letter-Spacing: */
	--dense-letters: -0.05em;
	--normal-letters: normal;
	--wide-letters: 0.1em;

	/* Line-Height: */
	--short-line: 1.25;
	--normal-line: 1.6;
	--tall-line: 2;

	/* Word-Spacing: */
	--dense-words: -0.1em;
	--normal-words: normal;
	--wide-words: 0.1em;
}