/* Semantic Props for the color gray. */

.semantic {
	--gray-0: oklch(0.98 0.01 260);
	--gray-1: oklch(0.9 0.01 260);
	--gray-2: oklch(0.8 0.01 260);
	--gray-3: oklch(0.7 0.01 260);
	--gray-4: oklch(0.6 0.01 260);
	--gray-5: oklch(0.5 0.01 260);
	--gray-6: oklch(0.4 0.01 260);
	--gray-7: oklch(0.3 0.01 260);
	--gray-8: oklch(0.2 0.01 260);
	--gray-9: oklch(0.1 0.01 260);
}