/* Semantic Props for the color gray. */

@import "is.css";

:where(.semantic) {
	--gray-1: var(--is-light, oklch(0.5 0.01 260)) var(--is-dark, oklch(0.7 0.01 260));
	--gray-2: var(--is-light, oklch(0.45 0.01 260)) var(--is-dark, oklch(0.75 0.01 260));
	--gray-3: var(--is-light, oklch(0.4 0.01 260)) var(--is-dark, oklch(0.8 0.01 260));
}