/* Semantic Props for the color green. */

.semantic {
	--green-0: oklch(0.98 0.2 150);
	--green-1: oklch(0.9 0.2 150);
	--green-2: oklch(0.8 0.2 150);
	--green-3: oklch(0.7 0.2 150);
	--green-4: oklch(0.6 0.2 150);
	--green-5: oklch(0.5 0.2 150);
	--green-6: oklch(0.4 0.2 150);
	--green-7: oklch(0.3 0.2 150);
	--green-8: oklch(0.2 0.2 150);
	--green-9: oklch(0.1 0.2 150);
}