/* Semantic Props for the color green. */

@import "is.css";

:where(.semantic) {
	--green-1: var(--is-light, oklch(0.5 0.2 150)) var(--is-dark, oklch(0.7 0.2 150));
	--green-2: var(--is-light, oklch(0.45 0.2 150)) var(--is-dark, oklch(0.75 0.2 150));
	--green-3: var(--is-light, oklch(0.4 0.2 150)) var(--is-dark, oklch(0.8 0.2 150));
}