/* Semantic Props for z-index positions. */

:where(.semantic, .semantic-index) {
	--bottom-index: -1000;
	--relative-index: 1000;
	--absolute-index: 2000;
	--sticky-index: 3000;
	--fixed-index: 4000;
	--top-index: 5000;
}