/* Semantic Props for the color indigo. */

.semantic {
	--indigo-0: oklch(0.98 0.2 270);
	--indigo-1: oklch(0.9 0.2 270);
	--indigo-2: oklch(0.8 0.2 270);
	--indigo-3: oklch(0.7 0.2 270);
	--indigo-4: oklch(0.6 0.2 270);
	--indigo-5: oklch(0.5 0.2 270);
	--indigo-6: oklch(0.4 0.2 270);
	--indigo-7: oklch(0.3 0.2 270);
	--indigo-8: oklch(0.2 0.2 270);
	--indigo-9: oklch(0.1 0.2 270);
}