/* Semantic Props for the color indigo. */

@import "is.css";

:where(.semantic) {
	--lightest-indigo: oklch(0.9 0.2 270);
	--lighter-indigo: oklch(0.8 0.2 270);
	--light-indigo: oklch(0.7 0.2 270);

	--dark-indigo: oklch(0.5 0.2 270);
	--darker-indigo: oklch(0.4 0.2 270);
	--darkest-indigo: oklch(0.3 0.2 270);

	--primary-indigo: var(--is-light, var(--dark-indigo)) var(--is-dark, var(--light-indigo));
	--secondary-indigo: var(--is-light, var(--darker-indigo)) var(--is-dark, var(--lighter-indigo));
	--tertiary-indigo: var(--is-light, var(--darkest-indigo)) var(--is-dark, var(--lightest-indigo));
}