/* Semantic Props for the color indigo. */

@import "is.css";

:where(.semantic) {
	--indigo-1: var(--is-light, oklch(0.5 0.2 270)) var(--is-dark, oklch(0.7 0.2 270));
	--indigo-2: var(--is-light, oklch(0.4 0.2 270)) var(--is-dark, oklch(0.8 0.2 270));
	--indigo-3: var(--is-light, oklch(0.3 0.2 270)) var(--is-dark, oklch(0.9 0.2 270));
	@media (prefers-contrast: more) {
		--indigo-1: var(--is-light, oklch(0.45 0.2 270)) var(--is-dark, oklch(0.75 0.2 270));
	}
}