/* Semantic Props boolean values for activating var() fallback. */

:where(.semantic) {
	--is-true: initial;
	--is-false: ;
	@media (prefers-color-scheme: dark) {
		--is-light: var(--is-false);
		--is-dark: var(--is-true);
	}
	:where(&, &.light, &.light &)  {
		--is-light: var(--is-true);
		--is-dark: var(--is-false);
	}
	:where(&.dark, &.dark &) {
		--is-light: var(--is-false);
		--is-dark: var(--is-true);
	}
}