/* Semantic Props boolean values for activating var() fallback. */

:where(.semantic) {
	/* Boolean Values: */
	--is-true: initial;
	--is-false: ;

	/* Light/Dark Values: */
	&:where(:not(& &), .light.dark) {
		--is-light: var(--is-true);
		--is-dark: var(--is-false);
		@media (prefers-color-scheme: dark) {
			--is-light: var(--is-false);
			--is-dark: var(--is-true);
		}
	}

	&:where(.light:not(.dark)) {
		--is-light: var(--is-true);
		--is-dark: var(--is-false);
	}

	&:where(.dark:not(.light)) {
		--is-light: var(--is-false);
		--is-dark: var(--is-true);
	}

	/* Media-Query Values: */
	&:where(:not(& &), .watch, .phone, .tablet, .laptop, .desktop) {
		--is-watch: var(--is-true);
		--is-phone: var(--is-false);
		--is-tablet: var(--is-false);
		--is-laptop: var(--is-false);
		--is-desktop: var(--is-false);
	}

	@media (min-width: 20rem) {
		&:where(:not(& &):not(.watch), .phone, .tablet, .laptop, .desktop) {
			--is-watch: var(--is-false);
			--is-phone: var(--is-true);
		}
	}

	@media (min-width: 48rem) {
		&:where(:not(& &):not(.watch, .phone), .tablet, .laptop, .desktop) {
			--is-phone: var(--is-false);
			--is-tablet: var(--is-true);
		}
	}

	@media (min-width: 80rem) {
		&:where(:not(& &):not(.watch, .phone, .tablet), .laptop, .desktop) {
			--is-tablet: var(--is-false);
			--is-laptop: var(--is-true);
		}
	}

	@media (min-width: 100rem) {
		&:where(:not(& &):not(.watch, .phone, .tablet, .laptop), .desktop) {
			--is-tablet: var(--is-false);
			--is-desktop: var(--is-true);
		}
	}

	/* Media-Query Ranges: */
	--is-watch-to-phone: var(--is-watch) var(--is-phone);
	--is-watch-to-tablet: var(--is-watch-to-phone) var(--is-tablet);
	--is-watch-to-laptop: var(--is-watch-to-tablet) var(--is-laptop);
	--is-watch-to-desktop: var(--is-watch-to-laptop) var(--is-desktop);

	--is-phone-to-tablet: var(--is-phone) var(--is-tablet);
	--is-phone-to-laptop: var(--is-phone-to-tablet) var(--is-laptop);
	--is-phone-to-desktop: var(--is-phone-to-laptop) var(--is-desktop);

	--is-tablet-to-laptop: var(--is-tablet) var(--is-laptop);
	--is-tablet-to-desktop: var(--is-tablet-to-laptop) var(--is-desktop);

	--is-laptop-to-desktop: var(--is-laptop) var(--is-desktop);
}