/* Semantic Props boolean values for activating var() fallback. */

:where(.semantic) {
	/* Boolean Values: */
	--is-true: initial;
	--is-false: ;

	/* Light/Dark Values: */
	--is-light: var(--is-true);
	--is-dark: var(--is-false);

	@media (prefers-color-scheme: dark) {
		--is-light: var(--is-false);
		--is-dark: var(--is-true);
	}

	/* Media-Query Values: */
	--is-watch: var(--is-true);
	--is-phone: var(--is-false);
	--is-tablet: var(--is-false);
	--is-laptop: var(--is-false);
	--is-desktop: var(--is-false);

	@media (min-width: 320px) {
		--is-watch: var(--is-false);
		--is-phone: var(--is-true);
	}

	@media (min-width: 768px) {
		--is-phone: var(--is-false);
		--is-tablet: var(--is-true);
	}

	@media (min-width: 1200px) {
		--is-tablet: var(--is-false);
		--is-laptop: var(--is-true);
	}

	@media (min-width: 1600px) {
		--is-laptop: var(--is-false);
		--is-desktop: var(--is-true);
	}

	/* Media-Query Ranges: */
	--is-watch-to-phone: var(--is-watch) var(--is-phone);
	--is-watch-to-tablet: var(--is-watch-to-phone) var(--is-tablet);
	--is-watch-to-laptop: var(--is-watch-to-tablet) var(--is-laptop);
	--is-watch-to-desktop: var(--is-watch-to-laptop) var(--is-desktop);

	--is-phone-to-tablet: var(--is-phone) var(--is-tablet);
	--is-phone-to-laptop: var(--is-phone-to-tablet) var(--is-laptop);
	--is-phone-to-desktop: var(--is-phone-to-laptop) var(--is-desktop);

	--is-tablet-to-laptop: var(--is-tablet) var(--is-laptop);
	--is-tablet-to-desktop: var(--is-tablet-to-laptop) var(--is-desktop);

	--is-laptop-to-desktop: var(--is-laptop) var(--is-desktop);
}