/* Semantic Props boolean values for activating var() fallback. */

:where(.semantic) {
	/* Boolean Values: */
	--is-true: initial;
	--is-false: ;

	/* Light/Dark Values: */
	--is-light: var(--is-true);
	--is-dark: var(--is-false);

	@media (prefers-color-scheme: dark) {
		--is-light: var(--is-false);
		--is-dark: var(--is-true);
	}

	:where(&.light, &.light &)  {
		--is-light: var(--is-true);
		--is-dark: var(--is-false);
	}

	:where(&.dark, &.dark &) {
		--is-light: var(--is-false);
		--is-dark: var(--is-true);
	}

	/* Media-Query Values: */
	--is-watch: var(--is-true);
	--is-phone: var(--is-false);
	--is-tablet: var(--is-false);
	--is-laptop: var(--is-false);
	--is-desktop: var(--is-false);

	@media (min-width: 320px) {
		--is-watch: var(--is-false);
		--is-phone: var(--is-true);
	}

	@media (min-width: 768px) {
		--is-phone: var(--is-false);
		--is-tablet: var(--is-true);
	}

	@media (min-width: 1200px) {
		--is-tablet: var(--is-false);
		--is-laptop: var(--is-true);
	}

	@media (min-width: 1600px) {
		--is-tablet: var(--is-false);
		--is-desktop: var(--is-true);
	}

	/* Media-Query Ranges: */
	--is-watch-phone: var(--is-watch) var(--is-phone);
	--is-watch-tablet: var(--is-watch-phone) var(--is-tablet);
	--is-watch-laptop: var(--is-watch-tablet) var(--is-laptop);
	--is-watch-desktop: var(--is-watch-laptop) var(--is-desktop);

	--is-phone-tablet: var(--is-phone) var(--is-tablet);
	--is-phone-laptop: var(--is-phone-tablet) var(--is-laptop);
	--is-phone-desktop: var(--is-phone-laptop) var(--is-desktop);

	--is-tablet-laptop: var(--is-tablet) var(--is-laptop);
	--is-tablet-desktop: var(--is-tablet-laptop) var(--is-desktop);

	--is-laptop-desktop: var(--is-laptop) var(--is-desktop);
}