/* Layer: Custom properties for z-index positions. */

semantic-props {
	/* Layer Positions: */
	--bottom-layer: -1000;
	--relative-layer: 1000;
	--absolute-layer: 2000;
	--sticky-layer: 3000;
	--fixed-layer: 4000;
	--top-layer: 5000;
}