/* Semantic Props for the color lime. */

.semantic {
	--lime-0: oklch(0.98 0.15 120);
	--lime-1: oklch(0.9 0.15 120);
	--lime-2: oklch(0.8 0.15 120);
	--lime-3: oklch(0.7 0.15 120);
	--lime-4: oklch(0.6 0.15 120);
	--lime-5: oklch(0.5 0.15 120);
	--lime-6: oklch(0.4 0.15 120);
	--lime-7: oklch(0.3 0.15 120);
	--lime-8: oklch(0.2 0.15 120);
	--lime-9: oklch(0.1 0.15 120);
}