/* Semantic Props for the color lime. */

@import "is.css";

:where(.semantic) {
	--lime-1: var(--is-light, oklch(0.5 0.15 120)) var(--is-dark, oklch(0.7 0.15 120));
	--lime-2: var(--is-light, oklch(0.4 0.15 120)) var(--is-dark, oklch(0.8 0.15 120));
	--lime-3: var(--is-light, oklch(0.3 0.15 120)) var(--is-dark, oklch(0.9 0.15 120));
	@media (prefers-contrast: more) {
		--lime-1: var(--is-light, oklch(0.45 0.15 120)) var(--is-dark, oklch(0.75 0.15 120));
	}
}