/* Semantic Props for the color magenta. */

@import "is.css";

:where(.semantic) {
	--lightest-magenta: oklch(0.8 0.2 330);
	--lighter-magenta: oklch(0.75 0.2 330);
	--light-magenta: oklch(0.7 0.2 330);

	--dark-magenta: oklch(0.5 0.2 330);
	--darker-magenta: oklch(0.45 0.2 330);
	--darkest-magenta: oklch(0.4 0.2 330);

	--primary-magenta: var(--is-light, var(--dark-magenta)) var(--is-dark, var(--lightest-magenta));
	--secondary-magenta: var(--is-light, var(--darker-magenta)) var(--is-dark, var(--lighter-magenta));
	--tertiary-magenta: var(--is-light, var(--darkest-magenta)) var(--is-dark, var(--light-magenta));
}