/* Semantic Props for CSS opacity property. */

.semantic {
	--3x-low-opacity: 0.1;
	--2x-low-opacity: 0.25;
	--x-low-opacity: 0.33;
	--low-opacity: 0.4;
	--medium-opacity: 0.5;
	--high-opacity: 0.66;
	--x-high-opacity: 0.75;
	--2x-high-opacity: 0.8;
	--3x-high-opacity: 0.9;
}