/* Semantic Props for the CSS opacity property. */

:where(:root) {
	--lowest-opacity: 0.1;
	--lower-opacity: 0.25;
	--low-opacity: 0.33;
	--medium-opacity: 0.5;
	--high-opacity: 0.66;
	--higher-opacity: 0.75;
	--highest-opacity: 0.9;
}