/* Semantic Props for the color orange. */

@import "is.css";

:where(.semantic) {
	--orange-1: var(--is-light, oklch(0.5 0.15 50)) var(--is-dark, oklch(0.7 0.15 50));
	--orange-2: var(--is-light, oklch(0.4 0.15 50)) var(--is-dark, oklch(0.8 0.15 50));
	--orange-3: var(--is-light, oklch(0.3 0.15 50)) var(--is-dark, oklch(0.9 0.15 50));
	@media (prefers-contrast: more) {
		--orange-1: var(--is-light, oklch(0.45 0.15 50)) var(--is-dark, oklch(0.75 0.15 50));
	}
}