/* Semantic Props for the color orange. */

.semantic {
	--orange-0: oklch(0.98 0.15 50);
	--orange-1: oklch(0.9 0.15 50);
	--orange-2: oklch(0.8 0.15 50);
	--orange-3: oklch(0.7 0.15 50);
	--orange-4: oklch(0.6 0.15 50);
	--orange-5: oklch(0.5 0.15 50);
	--orange-6: oklch(0.4 0.15 50);
	--orange-7: oklch(0.3 0.15 50);
	--orange-8: oklch(0.2 0.15 50);
	--orange-9: oklch(0.1 0.15 50);
}