/* Semantic Props for the color pink. */

@import "is.css";

:where(.semantic) {
	--pink-1: var(--is-light, oklch(0.5 0.1 10)) var(--is-dark, oklch(0.7 0.1 10));
	--pink-2: var(--is-light, oklch(0.4 0.1 10)) var(--is-dark, oklch(0.8 0.1 10));
	--pink-3: var(--is-light, oklch(0.3 0.1 10)) var(--is-dark, oklch(0.9 0.1 10));
	@media (prefers-contrast: more) {
		--pink-1: var(--is-light, oklch(0.45 0.1 10)) var(--is-dark, oklch(0.75 0.1 10));
	}
}