/* Semantic Props for the color pink. */

.semantic {
	--pink-0: oklch(0.98 0.1 10);
	--pink-1: oklch(0.9 0.1 10);
	--pink-2: oklch(0.8 0.1 10);
	--pink-3: oklch(0.7 0.1 10);
	--pink-4: oklch(0.6 0.1 10);
	--pink-5: oklch(0.5 0.1 10);
	--pink-6: oklch(0.4 0.1 10);
	--pink-7: oklch(0.3 0.1 10);
	--pink-8: oklch(0.2 0.1 10);
	--pink-9: oklch(0.1 0.1 10);
}