/* Semantic Props for the primary color. */

@import "black.css";
@import "is.css";
@import "white.css";

:where(.semantic) {
	--primary-1: var(--is-light, var(--white-1)) var(--is-dark, var(--black-1));
	--primary-2: var(--is-light, var(--white-2)) var(--is-dark, var(--black-2));
	--primary-3: var(--is-light, var(--white-3)) var(--is-dark, var(--black-3));
}