/* Semantic Props for the primary color. */

@import "is.css";

:where(.semantic) {
	--primary-1: var(--is-light, oklch(0.98 0.01 260)) var(--is-dark, oklch(0.2 0.01 260));
	--primary-2: var(--is-light, oklch(0.9 0.01 260)) var(--is-dark, oklch(0.3 0.01 260));
	--primary-3: var(--is-light, oklch(0.8 0.01 260)) var(--is-dark, oklch(0.4 0.01 260));
}