/* Semantic Props for the color purple. */

@import "is.css";

:where(.semantic) {
	--purple-1: var(--is-light, oklch(0.5 0.15 300)) var(--is-dark, oklch(0.7 0.15 300));
	--purple-2: var(--is-light, oklch(0.4 0.15 300)) var(--is-dark, oklch(0.8 0.15 300));
	--purple-3: var(--is-light, oklch(0.3 0.15 300)) var(--is-dark, oklch(0.9 0.15 300));
	@media (prefers-contrast: more) {
		--purple-1: var(--is-light, oklch(0.45 0.15 300)) var(--is-dark, oklch(0.75 0.15 300));
	}
}