/* Semantic Props for the color purple. */

.semantic {
	--purple-0: oklch(0.98 0.15 300);
	--purple-1: oklch(0.9 0.15 300);
	--purple-2: oklch(0.8 0.15 300);
	--purple-3: oklch(0.7 0.15 300);
	--purple-4: oklch(0.6 0.15 300);
	--purple-5: oklch(0.5 0.15 300);
	--purple-6: oklch(0.4 0.15 300);
	--purple-7: oklch(0.3 0.15 300);
	--purple-8: oklch(0.2 0.15 300);
	--purple-9: oklch(0.1 0.15 300);
}