/* Semantic Props for CSS border radius. */

:where(.semantic) {
	--x-small-radius: 0.1875rem; /* 3px */
	--small-radius: 0.3125rem; /* 5px */
	--medium-radius: 0.5rem; /* 8px */
	--large-radius: 0.75rem; /* 12px */
	--x-large-radius: 1rem; /* 16px */
	--2x-large-radius: 1.25rem; /* 20px */
	--3x-large-radius: 1.5rem; /* 24px */
}