/* Semantic Props for aspect ratios. */

:where(:root) {
	/* Aspect-(Ratio): */
	--aspect-square: 1 / 1;
	--aspect-landscape: 4 / 3;
	--aspect-portrait: 3 / 4;
	--aspect-video: 16 / 9;
	--aspect-wide: 21 / 9;
}