/* Semantic Props for the color red. */

@import "is.css";

:where(.semantic) {
	--red-1: var(--is-light, oklch(0.5 0.2 30)) var(--is-dark, oklch(0.7 0.2 30));
	--red-2: var(--is-light, oklch(0.45 0.2 30)) var(--is-dark, oklch(0.75 0.2 30));
	--red-3: var(--is-light, oklch(0.4 0.2 30)) var(--is-dark, oklch(0.8 0.2 30));
}