/* Semantic Props for the color red. */

@import "is.css";

:where(.semantic) {
	--lightest-red: oklch(0.9 0.2 30);
	--lighter-red: oklch(0.8 0.2 30);
	--light-red: oklch(0.7 0.2 30);

	--dark-red: oklch(0.5 0.2 30);
	--darker-red: oklch(0.4 0.2 30);
	--darkest-red: oklch(0.3 0.2 30);

	--primary-red: var(--is-light, var(--dark-red)) var(--is-dark, var(--light-red));
	--secondary-red: var(--is-light, var(--darker-red)) var(--is-dark, var(--lighter-red));
	--tertiary-red: var(--is-light, var(--darkest-red)) var(--is-dark, var(--lightest-red));
}