/* Semantic Props for the color red. */

.semantic {
	--red-0: oklch(0.98 0.2 30);
	--red-1: oklch(0.9 0.2 30);
	--red-2: oklch(0.8 0.2 30);
	--red-3: oklch(0.7 0.2 30);
	--red-4: oklch(0.6 0.2 30);
	--red-5: oklch(0.5 0.2 30);
	--red-6: oklch(0.4 0.2 30);
	--red-7: oklch(0.3 0.2 30);
	--red-8: oklch(0.2 0.2 30);
	--red-9: oklch(0.1 0.2 30);
}