/* Semantic Props for CSS scale property. */

.semantic {
	--scale-3x-out: 0.5;
	--scale-2x-out: 0.75;
	--scale-x-out: 0.9;
	--scale-out: 0.95;
	--scale-in: 1.05;
	--scale-x-in: 1.1;
	--scale-2x-in: 1.25;
	--scale-3x-in: 1.5;
}