/* Semantic Props for the secondary color. */

@import "is.css";

:where(.semantic) {
	--secondary-1: var(--is-light, oklch(0.2 0.01 260)) var(--is-dark, oklch(0.9 0.01 260));
	--secondary-2: var(--is-light, oklch(0.3 0.01 260)) var(--is-dark, oklch(0.8 0.01 260));
	--secondary-3: var(--is-light, oklch(0.4 0.01 260)) var(--is-dark, oklch(0.7 0.01 260));
}