/* Semantic Props for the secondary color. */

@import "black.css";
@import "is.css";
@import "white.css";

:where(.semantic) {
	--secondary-1: var(--is-light, var(--black-1)) var(--is-dark, var(--white-1));
	--secondary-2: var(--is-light, var(--black-2)) var(--is-dark, var(--white-2));
	--secondary-3: var(--is-light, var(--black-3)) var(--is-dark, var(--white-3));
}