/* Semantic Props for the secondary color. */

@import "gray.css";

.semantic {
	--secondary-0: var(--gray-0);
	--secondary-1: var(--gray-1);
	--secondary-2: var(--gray-2);
	--secondary-3: var(--gray-3);
	--secondary-4: var(--gray-4);
	--secondary-5: var(--gray-5);
	--secondary-6: var(--gray-6);
	--secondary-7: var(--gray-7);
	--secondary-8: var(--gray-8);
	--secondary-9: var(--gray-9);
}