/* Semantic Props for CSS text-shadow, box-shadow and drop-shadow filter. */

:where(.semantic) {
	/* Text-Shadow: */
	--text-shadow: 0 0 min(0.125em, 2px) black, 0 0 min(0.125em, 4px) white;
	@supports (color: oklch(from currentColor l c h)) {
		--text-shadow: 0 0 min(0.125em, 2px) oklch(from currentColor calc(1 - l) c h);
	}

	/* Box-Shadow: */
	--lightest-box-shadow: 0 2px 3px rgb(0 0 0 / 0.1);
	--lighter-box-shadow: 0 5px 4px rgb(0 0 0 / 0.1);
	--light-box-shadow: 0 7px 5px rgb(0 0 0 / 0.1);
	--medium-box-shadow: 0 8px 8px rgb(0 0 0 / 0.15);
	--heavy-box-shadow: 0 8px 8px rgb(0 0 0 / 0.2);
	--heavier-box-shadow: 0 9px 9px rgb(0 0 0 / 0.2);
	--heaviest-box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);

	/* Drop-Shadow (Filter): */
	--lightest-shadow: drop-shadow(0 2px 3px rgb(0 0 0 / 0.1));
	--lighter-shadow: drop-shadow(0 5px 4px rgb(0 0 0 / 0.1));
	--light-shadow: drop-shadow(0 7px 5px rgb(0 0 0 / 0.1));
	--medium-shadow: drop-shadow(0 8px 8px rgb(0 0 0 / 0.15));
	--heavy-shadow: drop-shadow(0 8px 8px rgb(0 0 0 / 0.2));
	--heavier-shadow: drop-shadow(0 9px 9px rgb(0 0 0 / 0.2));
	--heaviest-shadow: drop-shadow(0 10px 10px rgb(0 0 0 / 0.2));
}