/* Semantic Props for CSS text-shadow, box-shadow and drop-shadow filter. */

@import "color.css";

:where(.semantic) {
	/* Text-Shadow: */
	--lightest-text-shadow: 0 2px 3px rgb(0 0 0 / 0.15);
	--lighter-text-shadow: 0 5px 4px rgb(0 0 0 / 0.15);
	--light-text-shadow: 0 7px 5px rgb(0 0 0 / 0.15);
	--medium-text-shadow: 0 8px 8px rgb(0 0 0 / 0.225);
	--heavy-text-shadow: 0 8px 8px rgb(0 0 0 / 0.3);
	--heavier-text-shadow: 0 9px 9px rgb(0 0 0 / 0.3);
	--heaviest-text-shadow: 0 10px 10px rgb(0 0 0 / 0.3);

	--text-stroke-shadow:
	-0.5px -0.5px var(--tertiary-text-color), 0 -0.5px var(--tertiary-text-color),
	0.5px -0.5px var(--tertiary-text-color), 0.5px 0 var(--tertiary-text-color),
	0.5px 0.5px var(--tertiary-text-color), 0 0.5px var(--tertiary-text-color),
	-0.5px 0.5px var(--tertiary-text-color), -0.5px 0 var(--tertiary-text-color);

	@media (min-resolution: 2x) {
		--text-stroke-shadow:
		-0.25px -0.25px var(--tertiary-text-color), 0 -0.25px var(--tertiary-text-color),
		0.25px -0.25px var(--tertiary-text-color), 0.25px 0 var(--tertiary-text-color),
		0.25px 0.25px var(--tertiary-text-color), 0 0.25px var(--tertiary-text-color),
		-0.25px 0.25px var(--tertiary-text-color), -0.25px 0 var(--tertiary-text-color);
	}

	/* Box-Shadow: */
	--lightest-box-shadow: 0 2px 3px rgb(0 0 0 / 0.1);
	--lighter-box-shadow: 0 5px 4px rgb(0 0 0 / 0.1);
	--light-box-shadow: 0 7px 5px rgb(0 0 0 / 0.1);
	--medium-box-shadow: 0 8px 8px rgb(0 0 0 / 0.15);
	--heavy-box-shadow: 0 8px 8px rgb(0 0 0 / 0.2);
	--heavier-box-shadow: 0 9px 9px rgb(0 0 0 / 0.2);
	--heaviest-box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);

	/* Box-Shadow (Inset): */
	--lightest-inset-shadow: inset 0 2px 3px rgb(0 0 0 / 0.1);
	--lighter-inset-shadow: inset 0 5px 4px rgb(0 0 0 / 0.1);
	--light-inset-shadow: inset 0 7px 5px rgb(0 0 0 / 0.1);
	--medium-inset-shadow: inset 0 8px 8px rgb(0 0 0 / 0.15);
	--heavy-inset-shadow: inset 0 8px 8px rgb(0 0 0 / 0.2);
	--heavier-inset-shadow: inset 0 9px 9px rgb(0 0 0 / 0.2);
	--heaviest-inset-shadow: inset 0 10px 10px rgb(0 0 0 / 0.2);

	/* Drop-Shadow (Filter): */
	--lightest-shadow: drop-shadow(0 2px 3px rgb(0 0 0 / 0.1));
	--lighter-shadow: drop-shadow(0 5px 4px rgb(0 0 0 / 0.1));
	--light-shadow: drop-shadow(0 7px 5px rgb(0 0 0 / 0.1));
	--medium-shadow: drop-shadow(0 8px 8px rgb(0 0 0 / 0.15));
	--heavy-shadow: drop-shadow(0 8px 8px rgb(0 0 0 / 0.2));
	--heavier-shadow: drop-shadow(0 9px 9px rgb(0 0 0 / 0.2));
	--heaviest-shadow: drop-shadow(0 10px 10px rgb(0 0 0 / 0.2));
}