/* Semantic Props for CSS box-shadow or drop-shadow filter value. */

:where(:root) {
	/* Box-Shadow: */
	--lightest-box-shadow: 0 2px 3px rgb(0 0 0 / 0.1);
	--lighter-box-shadow: 0 5px 4px rgb(0 0 0 / 0.1);
	--light-box-shadow: 0 7px 5px rgb(0 0 0 / 0.1);
	--medium-box-shadow: 0 8px 8px rgb(0 0 0 / 0.15);
	--heavy-box-shadow: 0 8px 8px rgb(0 0 0 / 0.2);
	--heavier-box-shadow: 0 9px 9px rgb(0 0 0 / 0.2);
	--heaviest-box-shadow: 0 10px 10px rgb(0 0 0 / 0.2);

	/* Drop-Shadow (Filter): */
	--lightest-shadow: drop-shadow(0 2px 3px rgb(0 0 0 / 0.1));
	--lighter-shadow: drop-shadow(0 5px 4px rgb(0 0 0 / 0.1));
	--light-shadow: drop-shadow(0 7px 5px rgb(0 0 0 / 0.1));
	--medium-shadow: drop-shadow(0 8px 8px rgb(0 0 0 / 0.15));
	--heavy-shadow: drop-shadow(0 8px 8px rgb(0 0 0 / 0.2));
	--heavier-shadow: drop-shadow(0 9px 9px rgb(0 0 0 / 0.2));
	--heaviest-shadow: drop-shadow(0 10px 10px rgb(0 0 0 / 0.2));
}