/* Semantic Props for sizing containers, fonts and space. */

:root {
	/* Container Sizes: */
	--smallest-container: 10rem; /* 160px */
	--smaller-container: 15rem; /* 240px */
	--small-container: 20rem; /* 320px */
	--medium-container: 30rem; /* 480px */
	--large-container: 40rem; /* 640px */
	--larger-container: 64rem; /* 1024px */
	--largest-container: 80rem; /* 1280px */

	/* Base Sizes: */
	--4x-small: 0.125rem; /* 2px */
	--3x-small: 0.25rem; /* 4px */
	--2x-small: 0.5rem; /* 8px */
	--x-small: 0.75rem; /* 12px */
	--small: 0.875rem; /* 14px */
	--medium: 1rem; /* 16px */
	--large: 1.125rem; /* 18px */
	--x-large: 1.25rem; /* 20px */
	--2x-large: 1.5rem; /* 24px */
	--3x-large: 1.875rem; /* 30px */
	--4x-large: 2.25rem; /* 36px */
	--5x-large: 3rem; /* 48px */
	--6x-large: 3.75rem; /* 60px */
	--7x-large: 4.5rem; /* 72px */
	--8x-large: 6rem; /* 96px */
	--9x-large: 8rem; /* 128px */

	--smaller: 0.875em; /* 14/16px */
	--larger: 1.125em; /* 18/16px */

	/* Margin Size: */
	--margin-size: 5%;
}