/* Semantic Props for sizing padding, margin, ect. */

:where(.semantic) {
	/* Base Sizes: */
	--3x-small-size: 0.25rem;
	--2x-small-size: 0.5rem;
	--x-small-size: 0.75rem;
	--small-size: 1rem;
	--medium-size: 1.5rem;
	--large-size: 2rem;
	--x-large-size: 3rem;
	--2x-large-size: 4rem;
	--3x-large-size: 6rem;

	/* Margin Size: */
	--margin-size:
		var(--is-watch, var(--x-small-size))
		var(--is-phone, var(--medium-size))
		var(--is-tablet, var(--x-large-size))
		var(--is-laptop, var(--2x-large-size))
		var(--is-desktop, var(--3x-large-size));
}