/* Semantic Props for sizing padding, margin, ect. */
/* https://utopia.fyi/space/calculator?c=180,16,1.125,1920,16,1.25,10,2,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,3xs-3xl&g=s,l,xl,12 */

:where(.semantic) {
	/* Base Sizes: */
	--3xs-size: 0.25rem;
	--2xs-size: 0.5rem;
	--xs-size: 0.75rem;
	--sm-size: 1rem;
	--md-size: 1.5rem;
	--lg-size: 2rem;
	--xl-size: 3rem;
	--2xl-size: 4rem;
	--3xl-size: 6rem;

	/* Range Size (3xs to 3xl): */
	--range-size: clamp(0.25rem, -0.3448rem + 5.2874vw, 6rem);
}