/* Semantic Props for sizing padding, margin, ect. */
/* https://utopia.fyi/space/calculator?c=180,16,1.067,1920,18,1.25,10,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,3xs-3xl&g=s,l,xl,12 */

:where(.semantic) {
	/* Base Sizes: */
	--3x-small-size: clamp(0.25rem, 0.2435rem + 0.0575vw, 0.3125rem);
	--2x-small-size: clamp(0.5rem, 0.4935rem + 0.0575vw, 0.5625rem);
	--x-small-size: clamp(0.75rem, 0.7371rem + 0.1149vw, 0.875rem);
	--small-size: clamp(1rem, 0.9871rem + 0.1149vw, 1.125rem);
	--medium-size: clamp(1.5rem, 1.4806rem + 0.1724vw, 1.6875rem);
	--large-size: clamp(2rem, 1.9741rem + 0.2299vw, 2.25rem);
	--x-large-size: clamp(3rem, 2.9612rem + 0.3448vw, 3.375rem);
	--2x-large-size: clamp(4rem, 3.9483rem + 0.4598vw, 4.5rem);
	--3x-large-size: clamp(6rem, 5.9224rem + 0.6897vw, 6.75rem);

	/* Margin Size: */
	--margin-size: clamp(0.75rem, 0.1293rem + 5.5172vw, 6.75rem);
}