/* Semantic Props for sizing containers, fonts and space. */

.semantic {
	/* Container Sizes: */
	--smallest-container: 10rem; /* 160px */
	--smaller-container: 15rem; /* 240px */
	--small-container: 20rem; /* 320px */
	--medium-container: 30rem; /* 480px */
	--large-container: 40rem; /* 640px */
	--larger-container: 64rem; /* 1024px */
	--largest-container: 80rem; /* 1280px */

	/* Size Scale Ratio: */
	--scale-ratio: 1.067;

	&.phone {
		--scale-ratio: 1.125;
	}

	&.tablet {
		--scale-ratio: 1.200;
	}

	&.laptop {
		--scale-ratio: 1.250;
	}

	/* Base Sizes: */
	--4x-small: min(0.125rem, var(--3x-small) / var(--scale-ratio)); /* 2px */
	--3x-small: min(0.25rem, var(--2x-small) / var(--scale-ratio)); /* 4px */
	--2x-small: min(0.5rem, var(--x-small) / var(--scale-ratio)); /* 8px */
	--x-small: min(0.75rem, var(--small) / var(--scale-ratio)); /* 12px */
	--small: min(0.875rem, var(--medium) / var(--scale-ratio)); /* 14px */
	--medium: 1rem; /* 16px */
	--large: min(1.125rem, var(--medium) * var(--scale-ratio)); /* 18px */
	--x-large: min(1.25rem, var(--large) * var(--scale-ratio)); /* 20px */
	--2x-large: min(1.5rem, var(--x-large) * var(--scale-ratio)); /* 24px */
	--3x-large: min(1.875rem, var(--2x-large) * var(--scale-ratio)); /* 30px */
	--4x-large: min(2.25rem, var(--3x-large) * var(--scale-ratio)); /* 36px */
	--5x-large: min(3rem, var(--4x-large) * var(--scale-ratio)); /* 48px */
	--6x-large: min(3.75rem, var(--5x-large) * var(--scale-ratio)); /* 60px */
	--7x-large: min(4.5rem, var(--6x-large) * var(--scale-ratio)); /* 72px */
	--8x-large: min(6rem, var(--7x-large) * var(--scale-ratio)); /* 96px */
	--9x-large: min(8rem, var(--8x-large) * var(--scale-ratio)); /* 128px */

	--smaller: min(0.875em, 1em / var(--scale-ratio));
	--larger: min(1.125em, 1em * var(--scale-ratio));

	/* Margin Size: */
	--margin-size: var(--x-small);

	&.phone {
		--margin-size: var(--2x-large);
	}

	&.tablet {
		--margin-size: var(--4x-large);
	}

	&.laptop {
		--margin-size: var(--5x-large);
	}

	&.desktop {
		--margin-size: var(--6x-large);
	}

	/* Media Query Classes: */
	--watch: true;
	--phone: false;
	--tablet: false;
	--laptop: false;
	--desktop: false;

	@media (min-width: 20rem) {
		--phone: true;
	}

	@media (min-width: 40rem) {
		--tablet: true;
	}

	@media (min-width: 64rem) {
		--laptop: true;
	}

	@media (min-width: 80rem) {
		--desktop: true;
	}
}