/* Semantic Props for the text color. */

@import "is.css";

:where(.semantic) {
	--lightest-text: oklch(0.98 0.01 260);
	--lighter-text: oklch(0.9 0.01 260);
	--light-text: oklch(0.8 0.01 260);

	--dark-text: oklch(0.4 0.01 260);
	--darker-text: oklch(0.3 0.01 260);
	--darkest-text: oklch(0.2 0.01 260);

	--primary-text: var(--is-light, var(--darkest-text)) var(--is-dark, var(--lightest-text));
	--secondary-text: var(--is-light, var(--darker-text)) var(--is-dark, var(--lighter-text));
	--tertiary-text: var(--is-light, var(--dark-text)) var(--is-dark, var(--light-text));
}