/* Semantic Props for timing animations. */

:root {
	/* Animation/Transition-(Duration/Delay): */
	--animation-swift: 75ms;
	--animation-fast: 150ms;
	--animation-normal: 300ms;
	--animation-steady: 500ms;
	--animation-slow: 750ms;

	--transition-swift: var(--animation-swift);
	--transition-fast: var(--animation-fast);
	--transition-normal: var(--animation-normal);
	--transition-steady: var(--animation-steady);
	--transition-slow: var(--animation-slow);

	/* Animation/Transition-(Timing-Function): */
	--animation-ease: ease;
	--animation-ease-in: ease-in;
	--animation-ease-out: ease-out;
	--animation-ease-in-out: ease-in-out;

	--transition-ease: var(--animation-ease);
	--transition-ease-in: var(--animation-ease-in);
	--transition-ease-out: var(--animation-ease-out);
	--transition-ease-in-out: var(--animation-ease-in-out);
}