/* Semantic Props for timing animations. */

:root {
	/* Easing Values: */
	--ease: ease;
	--ease-in: ease-in;
	--ease-out: ease-out;
	--ease-in-out: ease-in-out;

	/* Time Values: */
	--fastest-time: 75ms;
	--faster-time: 100ms;
	--fast-time: 150ms;
	--normal-time: 300ms;
	--slow-time: 500ms;
	--slower-time: 750ms;
	--slowest-time: 1s;
}