/* Semantic Props for transform properties. */

:where(.semantic) {
	--3x-scale-out: 0.5;
	--2x-scale-out: 0.75;
	--x-scale-out: 0.9;
	--scale-out: 0.95;
	--scale-in: 1.05;
	--x-scale-in: 1.1;
	--2x-scale-in: 1.25;
	--3x-scale-in: 1.5;
}