/* Semantic Props for CSS transform property values. */

:root {
	/* Scale (X-axis): */
	--smallest-scale-x: scaleX(0.8);
	--smaller-scale-x: scaleX(0.9);
	--small-scale-x: scaleX(0.95);
	--large-scale-x: scaleX(1.05);
	--larger-scale-x: scaleX(1.1);
	--largest-scale-x: scaleX(1.2);

	/* Scale (Y-axis): */
	--smallest-scale-y: scaleY(0.8);
	--smaller-scale-y: scaleY(0.9);
	--small-scale-y: scaleY(0.95);
	--large-scale-y: scaleY(1.05);
	--larger-scale-y: scaleY(1.1);
	--largest-scale-y: scaleY(1.2);

	/* Scale (X+Y-axis): */
	--smallest-scale: scale(0.8);
	--smaller-scale: scale(0.9);
	--small-scale: scale(0.95);
	--large-scale: scale(1.05);
	--larger-scale: scale(1.1);
	--largest-scale: scale(1.2);
}