/* Semantic Props for the color violet. */

@import "is.css";

:where(.semantic) {
	--violet-1: var(--is-light, oklch(0.5 0.15 290)) var(--is-dark, oklch(0.7 0.15 290));
	--violet-2: var(--is-light, oklch(0.4 0.15 290)) var(--is-dark, oklch(0.8 0.15 290));
	--violet-3: var(--is-light, oklch(0.3 0.15 290)) var(--is-dark, oklch(0.9 0.15 290));
	@media (prefers-contrast: more) {
		--violet-1: var(--is-light, oklch(0.45 0.15 290)) var(--is-dark, oklch(0.75 0.15 290));
	}
}