/* Semantic Props for the color yellow. */

@import "is.css";

:where(.semantic) {
	--lightest-yellow: oklch(0.9 0.15 90);
	--lighter-yellow: oklch(0.8 0.15 90);
	--light-yellow: oklch(0.7 0.15 90);

	--dark-yellow: oklch(0.5 0.15 90);
	--darker-yellow: oklch(0.4 0.15 90);
	--darkest-yellow: oklch(0.3 0.15 90);

	--primary-yellow: var(--is-light, var(--dark-yellow)) var(--is-dark, var(--light-yellow));
	--secondary-yellow: var(--is-light, var(--darker-yellow)) var(--is-dark, var(--lighter-yellow));
	--tertiary-yellow: var(--is-light, var(--darkest-yellow)) var(--is-dark, var(--lightest-yellow));
}