/* Semantic Props for the color yellow. */

@import "is.css";

:where(.semantic) {
	--yellow-1: var(--is-light, oklch(0.5 0.15 90)) var(--is-dark, oklch(0.7 0.15 90));
	--yellow-2: var(--is-light, oklch(0.4 0.15 90)) var(--is-dark, oklch(0.8 0.15 90));
	--yellow-3: var(--is-light, oklch(0.3 0.15 90)) var(--is-dark, oklch(0.9 0.15 90));
	@media (prefers-contrast: more) {
		--yellow-1: var(--is-light, oklch(0.45 0.15 90)) var(--is-dark, oklch(0.75 0.15 90));
	}
}