/* Semantic Props for the color yellow. */

.semantic {
	--yellow-0: oklch(0.98 0.15 90);
	--yellow-1: oklch(0.9 0.15 90);
	--yellow-2: oklch(0.8 0.15 90);
	--yellow-3: oklch(0.7 0.15 90);
	--yellow-4: oklch(0.6 0.15 90);
	--yellow-5: oklch(0.5 0.15 90);
	--yellow-6: oklch(0.4 0.15 90);
	--yellow-7: oklch(0.3 0.15 90);
	--yellow-8: oklch(0.2 0.15 90);
	--yellow-9: oklch(0.1 0.15 90);
}